<div id="content" class="container-fluid">
    <div class="row" id="searchBoxAndFilterMobile">
        <app-search-box-mobile></app-search-box-mobile>
    </div>
    <div class="row">
        <div id="searchBoxAndFilter" style="padding-right: 15px;padding-left: 15px; min-height: 375px;">
            <div id="searchScroll" style="position: fixed;">
                <cdk-virtual-scroll-viewport [itemSize]="" style="width: 340px; min-height: 100vh;">
                    <app-searchbox></app-searchbox>
                    <app-filter></app-filter>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
        <div    class="h-100 d-flex align-items-start flex-row flex-wrap" id="searchHighlight" 
                style="padding-right: 15px;padding-left: 15px; scroll-margin-top: 200px;"
                infiniteScroll
                [infiniteScrollDistance]="2"
                (scrolled)="onScrollContent()">

            <app-highlight-items  *ngFor="let space of result" style="padding-bottom: 15px;"
                [data]="space"
                width="210px"
            ></app-highlight-items>
        </div>
    </div>
</div>