.icon {
    display: inline-block;
    margin-right: 10px;
    opacity: 0.5;
    border-radius: 50%;
    background: #ccc;
    padding: 40px;
    text-decoration: none;
    color: #000;
    text-align: center;
}

@media (max-width: 765px) {
.empty{
    margin-top: 10px !important;
}
}