#content {
    width: 100%;
    max-width: 300px;
    img {
        width: 15vw;
        min-width: 180px;
        max-width: 260px;
        cursor: pointer;
    }

    .itemMenu {
        color: black;
        font-size: 1.4em;
        cursor: pointer;
        line-height: initial;
    }

    .itemMenu:hover {
        text-decoration: underline;
    }
}

#popover {
    mat-list-item {
        cursor: pointer;
    }
    border-radius: 21px !important;
}