<nav [hidden]="mobile_mode" class="navbar navbar-expand-sm container-fluid" id="navTop">
    <img src="assets/imgs/logo/logo_preta-min.png" class="navbar-brand title" (click)="goTo('/home')">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto my-dropdown" id='contentNav'>
        <li class="nav-item" *ngFor="let itemMenu of menu">
          <a [target]="itemMenu.target" [href]="itemMenu.rout" class="nav-link">{{ itemMenu.name }}</a>
        </li>
        <li class="nav-item">
            <button *ngIf="!mobile_mode" class="btn btn-entrar" [ngbPopover]="popContent" container="body" triggers="manual"
              placement="bottom-right"  #p="ngbPopover" (click)="doLogin(p)">{{ login.logged_status ? 'Minha conta' : 'Entrar' }}</button>
        </li>
      </ul>
    </div>
</nav>

<!-- Alerta de site em desenvolvimento -->
<!-- <div class="w-100">
  <h1 class="w-100 text-center">SITE EM DESENVOLVIMENTO</h1>
</div> -->

<!-- Menu com os itens de pesquisa -->
<div class="options" id="menuHeader" *ngIf="options.length > 0 && !mobile_mode">
  <div class="h-100 d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center" style="padding-top: 15px; padding-bottom: 15px; min-width: 120px;" *ngFor="let item of options" (click)="goTo('/search', item.id)">
      <div class="imgs">
        <img [src]="'assets/imgs/header/' + item.icone" style="width: 25px; height: 25px;">
      </div>
      <span style=" white-space: nowrap">{{item.nome}}</span>
    </div>
  </div>
</div>

<!-- Barra de navegação celular -->
<div *ngIf="mobile_mode" id="navBottom" style="min-height: 64px;"
    [ngbPopover]="popContent" container="body" triggers="manual"
    placement="top" popoverClass="popoverClass" #p="ngbPopover"
    class="w-100 d-flex flex-row justify-content-around fixed-bottom tabs">
    <div class="d-flex align-items-center justify-content-center flex-column" style="min-width: 66px;" (click)="goTo('/search')">
      <span class="material-icons" style="color: white; font-size: 30px;">search</span>
      <span style="font-size: 12px; color: white;">Buscar</span>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-column" style="min-width: 66px;" (click)="goTo('/user/espacossalvos')">
      <span class="material-icons" style="color: #09fe9d; font-size: 30px;">favorite</span>
      <span style="font-size: 12px; color: white;">Favoritos</span>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-column" style="min-width: 66px;" (click)="doLogin(p)">
      <span class="material-icons" style="color: white; font-size: 30px;">account_circle</span>
      <span style="font-size: 12px; color: white;">{{ login.logged_status ? 'Minha conta' : 'Entrar' }}</span>
    </div>
</div>

<!-- Menu de itens -->
<ng-template #popContent>
  <div id="popover">
    <!-- <span class="popoverTitle" *ngIf="login.logged_status">Olá {{user.user_data.nome.split(' ')[0]}}</span> -->
    <div style="margin-bottom: 5px;">
      <mat-list>
        <mat-list-item class="list-item" (click)="goTo('/user/conta/info')">
          <span style="font-weight: 500;">
            Minha Conta
          </span>
        </mat-list-item>
        <div class="espacamento"></div>
        <mat-list-item class="list-item" (click)="goTo('/user/espacossalvos')">
          <span style="font-weight: 500;">
            Salvos
          </span>
        </mat-list-item>
        <div class="espacamento"></div>
        <mat-list-item class="list-item" (click)="goTo('/user/alugueis')">
          <span style="font-weight: 500;">
            Aluguéis
          </span>
        </mat-list-item>
        <mat-list-item class="list-item" (click)="goTo('/user/anuncios/meusanuncios')">
          <span style="font-weight: 500;">
            Anúncios
          </span>
        </mat-list-item>
        <div class="espacamento"></div>
        <mat-list-item (click)="this.login.logout()">
          <span>
            Sair
          </span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</ng-template>
