nav{
    
    a{
        color: white !important;
        font-size: 18px;
    }
    span{
        color: white !important;
        font-size: 18px;
    }
    background: linear-gradient( to bottom, black 90%, rgba(0, 0, 0, 0.068) 10%);
}

.tabs{
    background-color: black;
    
}

.up{
    transition: -ms-transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955),-webkit-transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955),transform .2s cubic-bezier(0.455, 0.030, 0.515, 0.955), visibility .2s !important;
}

.down{
    transform: translateY(100%) !important;
    transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, visibility 0.2s ease 0s !important;  
}


.title{
    border-radius: 0 20px 85px 0; 
    background-color: white; 
    height: 104px; width: 220px; 
    display: flex; 
    align-items: center; 
    justify-content: center;

    box-shadow: 3px 1px 3px 0px rgba(0,0,0,0.46);

}

.btn-entrar{
    background-color: #09fe9d;
    width: 95px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.buttons-menu{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .buttons{
        font-size: 20px;
        // width: ;
    }
}

li{
    margin: 0 5px 0 5px;
    span{
        border-bottom: 2px solid #ffffff00;
    }
}

.show li{
    border-bottom: none;
}

.collapsing li{
    border-bottom: none;
}

.highlight{
    border-bottom: 2px solid white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.356);
} 
