<nav class="navbar navbar-expand-sm fixed-top container-fluid" style="min-width: 85%;" id="navTop">
    <div class="title" style="margin: -16px auto auto -16px">
      <h4>placeet</h4>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto my-dropdown" id='contentNav'>
        <li class="nav-item" *ngFor="let item of menu" (mouseover)="mouse_over($event)" (mouseout)="mouse_out($event)">
          <a  [routerLink]="item.rout" class="nav-link">{{ item.name }}</a>
        </li>
        <li class="nav-item" (click)="doLogin()" (mouseover)="mouse_over($event)" (mouseout)="mouse_out($event)">
            <button class="btn btn-entrar">{{ login.logged_status ? login.user_data.firstName : 'Entrar' }}</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="fixed-bottom container tabs" style="display: none; height: 64px;" id="navBottom">
    <div class="row h-100" style="margin-left: 30px; margin-right: 30px;">
      <div class="col-4 d-flex align-items-center justify-content-center flex-column">
        <span class="material-icons" style="color: white; font-size: 30px;">search</span>
        <span style="font-size: 12px; color: white;">Buscar</span>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center flex-column">
        <span class="material-icons" style="color: #09fe9d; font-size: 30px;">favorite</span>
        <span style="font-size: 12px; color: white;">Favoritos</span>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center flex-column" (click)="doLogin()">
        <span class="material-icons" style="color: white; font-size: 30px;">account_circle</span>
        <span style="font-size: 12px; color: white;">{{ login.logged_status ? login.user_data.firstName : 'Entrar' }}</span>
      </div>
    </div>
  </div>
  
  <!-- <div style="height: 72px;"></div> -->