<mat-card *ngIf="aluguel">
    <mat-card-title>
        <div class="d-flex flex-row cardTitle">
            <span>{{aluguel.alugavel.titulo}}</span>
            <a [routerLink]="['/spaces/' + aluguel.alugavel.id]" >Ver anúncio</a>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="d-flex flex-column flex-wrap justify-content-start endereco">
            <div class="titulo d-flex flex-row">
                <span >Localização</span>
                <a target="_blank" [href]="'https://www.google.com/maps/search/?api=1&query='+aluguel.alugavel.local.latitude+','+aluguel.alugavel.local.longitude">Ver no mapa</a>
            </div>
            <span class="content">
                {{aluguel.alugavel.local.rua}}, 
                {{aluguel.alugavel.local.numero ? aluguel.alugavel.local.numero : ''}}
                {{aluguel.alugavel.local.bairro}}
                {{aluguel.alugavel.local.complemento != '' ? ', ' + aluguel.alugavel.local.complemento:''}}
            </span>
            <span class="content">{{aluguel.alugavel.local.cidade}} - {{aluguel.alugavel.local.estado}}</span>
        </div>

        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column flex-wrap data">
                <span class="titulo">Data do Contrato</span>
                <span class="content">{{aluguel.data_criacao | date: 'longDate'}}</span>
            </div>

            <div class="d-flex flex-column flex-wrap data">
                <span class="titulo">Valor total</span>
                <span class="content">R$ {{aluguel.valor}}</span>
            </div>
        </div>

        <div style="height: 10px;"></div>

        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column flex-wrap data">
                <span class="titulo">Data de entrada</span>
                <span class="content">{{aluguel.dias_reservados.data_entrada | date: 'longDate'}}</span>
            </div>
            <div class="d-flex flex-column flex-wrap data">
                <span class="titulo">Data de saída</span>
                <span class="content">{{aluguel.dias_reservados.data_saida | date: 'longDate'}}</span>
            </div>
        </div>

        <div style="height: 10px;"></div>

        <div class="d-flex flex-row align-items-center justify-content-around nome" *ngIf="aluguel.locador">
            <img-circular [firstLetter]="aluguel.locador.nome[0]" [imgUrl]="aluguel.locador.img_perfil"></img-circular>
            <div class="d-flex flex-column flex-wrap">
                <span class="titulo">Locador</span>
                <span class="content">{{ aluguel.locador.nome }} {{ aluguel.locador.sobrenome }}</span>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-around nome"  *ngIf="aluguel.locatario">
            <img-circular [firstLetter]="aluguel.locatario.nome[0]" [imgUrl]="aluguel.locatario.img_perfil"></img-circular>
            <div class="d-flex flex-column flex-wrap">
                <span class="titulo">Locatário</span>
                <span class="content">{{ aluguel.locatario.nome }} {{ aluguel.locatario.sobrenome }}</span>
            </div>
        </div>

        <div class="d-flex flex-column flex-wrap contato" *ngIf="aluguel.locador">
            <span class="titulo">Contato</span>
            <span class="content">{{ aluguel.locador.email }}</span>
            <div class="d-flex flex-row">
                <span class="content">{{ aluguel.locador.numero_1 }}</span>
                <span class="content" style="padding-left: 5px;">{{ aluguel.locador.numero_2 }}</span>
            </div>
        </div>

        <div class="d-flex flex-column flex-wrap contato" *ngIf="aluguel.locatario">
            <span class="titulo">Contato</span>
            <span class="content">{{ aluguel.locatario.email }}</span>
            <div class="d-flex flex-row">
                <span class="content">{{ aluguel.locatario.numero_1 }}</span>
                <span class="content" style="padding-left: 5px;">{{ aluguel.locatario.numero_2 }}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button class="danger" *ngIf="aluguel.status !== ALUGUEL_STATUS.CANCELED.value" (click)="cancelContract()">Cancelar</button>
        <button mat-button *ngIf="aluguel.status === ALUGUEL_STATUS.CREATED.value && aluguel.locatario" (click)="acceptContract()">Aceitar</button>
    </mat-card-actions>
</mat-card>