#footer{
    
    font-family: sans-serif;
    background: black;
    border-top: 1px solid rgba(128, 128, 128, 0.308);
    position: relative;
    bottom: 0;
    height: 340px;
    min-width: 85%;
}

a{
    color: white;
    font-weight: lighter;
    font-size: 14px;
    padding: 5px 0 5px 0;
}


@media (max-width: 450px){
    .footer{
        display: none;
    }
}