<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-lg-3">
                <div class="row">
                    <span class="title">PLACEET</span>
                </div>
                <div class="row">
                    <a href="">Politica de uso</a>
                </div>
                <div class="row">
                    <a href="">Politica de segurança</a>
                </div>
                <div class="row">
                    <a href="">Politica de privacidade</a>
                </div>
                <div class="row">
                    <a href="">Politica de cancelamento</a>
                </div>
                <div class="row">
                    <a href="">Empresa</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <span class="title">DESCUBRA</span>
                </div>
                <div class="row">
                    <a href="">Noticias</a>
                </div>
                <div class="row">
                    <a href="">Como anunciar</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <span class="title">ATENDIMENTO</span>
                </div>
                <div class="row">
                    <a href="">Ajuda</a>
                </div>
                <div class="row">
                    <a href="">Deixe sua sugestão</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="line"></div>
        <div class="row social">
            <div class="col-8"></div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <span>Instagram</span>
                    </div>
                    <div class="col">
                        <span>Facebook</span>
                    </div>
                    <div class="col">
                        <span>Twitter</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>