@import '../../../place-et-theme.scss';

#imgContainer {
    img {
        max-height: 600px;
        object-fit: cover;
    }
}

button[mat-fab] {
    box-shadow: none;
}

ion-icon {
    font-size: 1.1rem;
}
