@import '../../../../../../../place-et-theme.scss';

.imgCard {
    height: 300px; 
    width: 300px;
    margin: 5px;
}

.imgCard:hover{
    transition: linear 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    color: $pl-verde-escuro;
    -webkit-box-shadow: 0px 0px 5px 1px $pl-verde-escuro;
    -moz-box-shadow: 0px 0px 5px 1px $pl-verde-escuro;
    box-shadow: 0px 0px 5px 1px $pl-verde-escuro;   
}

h3.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

mat-card {
    margin: 7px 15px;
}

.cardInfo{
    background-color: rgb(247, 247, 247);
    width: 300px;
}

.cardInfo .title{
    font-weight: 100;
    font-size: 13px;
}

.cardInfo .content{
    font-size: 16px;
}