@import '../../../../../../../place-et-theme.scss';

#imgContent {
    img {
        max-width: 200px;
        max-height: 200px;
    }

    img:hover {
        transition: linear 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        box-shadow: 1px 1px 1px $pl-verde-escuro;
    }
}

h3.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

mat-card {
    margin: 7px 15px;
}

.cardInfo{
    background-color: rgb(247, 247, 247);
    width: 300px;
}

.cardInfo .title{
    font-weight: 100;
    font-size: 13px;
}

.cardInfo .content{
    font-size: 16px;
}

.nome:hover{
    color: black !important;
}