<mat-card>
    <div class="d-flex align-items-center justify-content-center my-2">
        <img-circular class="d-inline-block" [firstLetter]="userService.user_data.nome[0]" [imgUrl]="imgUrl"
            (click)="viewUserDetails(alugavel.anunciante_id)">
        </img-circular>
    </div>
    <div class="row m-2">
        <div class="col d-flex align-items-center">
            <mat-divider></mat-divider>
        </div>
        <div class="col">
            <h2 class="m-0 p-0 text-center font-weight-normal nome" style="color: gray; cursor: pointer;"
                (click)="viewUserDetails(alugavel.anunciante_id)">
                {{userService.user_data.nome}} {{userService.user_data.sobrenome}}
            </h2>
        </div>
        <div class="col d-flex align-items-center">
            <mat-divider></mat-divider>
        </div>
    </div>
    <mat-card-title style="padding-top: 40px;">{{ alugavel.titulo}}</mat-card-title>
    <mat-card-subtitle>{{ alugavel.tipo.nome }}</mat-card-subtitle>
    <form [formGroup]="statusForm" (ngSubmit)="statusChange()">
        <mat-form-field appearance="standard">
            <mat-label>Status Alugável</mat-label>
            <mat-select formControlName="status" (change)="statusChange()">
                <mat-option *ngFor="let stat of status" [value]="stat.value">
                    {{ stat.name | uppercase }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button style="margin-left: 10px;" mat-raised-button color="accent" type="submit"
            [disabled]="statusForm.invalid || statusForm.pristine">Atualizar</button>
        <mat-form-field *ngIf="statusForm.value.status === STATUS.DISAPPROVED.value" class="w-100">
            <mat-label>Deixe uma observação</mat-label>
            <textarea matInput maxlength="500" formControlName="observacao"
                placeholder="EX.: Os documentos não são válidos...">
            </textarea>
        </mat-form-field>
    </form>

    <mat-card-content>
        <h3 [routerLink]="'/user/usuarios/' + alugavel.anunciante_id" class="link"
            *ngIf="alugavel.anunciante_avaliado !== USUARIO_STATUS.APPROVED.value">O anunciante não possui o cadastro
            validado! Visualizar anunciante.</h3>
        <h4 class="font-weight-bold">Descrição:</h4>
        <span style="overflow-wrap: break-word;">{{alugavel.descricao}}</span>
        <div style="overflow: auto;">
            <mat-tab-group disablePagination mat-align-tabs="center" style="padding-top: 3%;">
                <mat-tab [label]="'Valor'">
                    <div class="container d-flex justify-content-around">
                        <table>
                            <div class="row">
                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Valor Diário</mat-card-title>
                                        <div class="content">{{ formatMoneyValue(alugavel.valor) }}</div>
                                    </mat-card>
                                </div>

                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Valor Mensal</mat-card-title>
                                        <div class="content">{{ formatMoneyValue(alugavel.valor_mes) }}</div>
                                    </mat-card>
                                </div>

                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Taxa</mat-card-title>
                                        <div class="content">{{ alugavel.taxa }}%</div>
                                    </mat-card>
                                </div>
                            </div>
                        </table>
                    </div>
                </mat-tab>

                <mat-tab [label]="'Endereço'">
                    <div class="container d-flex justify-content-around">
                        <table>
                            <div class="row">
                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Rua</mat-card-title>
                                        <div class="content">{{alugavel.local.rua}}</div>
                                    </mat-card>
                                </div>


                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Número</mat-card-title>
                                        <div class="content">{{alugavel.local.numero}}</div>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Complemento</mat-card-title>
                                        <div class="content">{{alugavel.local.complemento}}</div>
                                    </mat-card>
                                </div>


                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Bairro</mat-card-title>
                                        <div class="content">{{alugavel.local.bairro}}</div>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">CEP</mat-card-title>
                                        <div class="content">{{alugavel.local.cep}}</div>
                                    </mat-card>
                                </div>

                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Cidade</mat-card-title>
                                        <div class="content">{{alugavel.local.cidade}}</div>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">Estado</mat-card-title>
                                        <div class="content">{{alugavel.local.estado}}</div>
                                    </mat-card>
                                </div>

                                <div class="col-lg d-flex justify-content-around">
                                    <mat-card class="cardInfo">
                                        <mat-card-title class="title">País</mat-card-title>
                                        <div class="content">{{alugavel.local.pais}}</div>
                                    </mat-card>
                                </div>
                            </div>
                        </table>
                    </div>
                </mat-tab>

                <mat-tab [label]="'Caracteristicas'"
                    *ngIf="alugavel.caracteristicas && alugavel.caracteristicas.length > 0">
                    <mat-card-content>
                        <mat-table [dataSource]="alugavel.caracteristicas">
                            <ng-container matColumnDef="caracteristica">
                                <mat-header-cell *matHeaderCellDef style="font-weight: 900;"> <b>Característica</b>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="valor">
                                <mat-header-cell *matHeaderCellDef><b> Valor</b> </mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.valor}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </mat-card-content>
                </mat-tab>

                <mat-tab [label]="'Imagens'" *ngIf="alugavel.imagens && alugavel.imagens.length">
                    <mat-card-content>
                        <div id="imgContent" class="w-100 mt-2 d-flex flex-row flex-wrap justify-content-around">
                            <a *ngFor="let foto of alugavel.imagens;" [href]="foto.url" target="_blank">
                                <img class="w-100 h-100 img-thumbnail" [src]="foto.url" />
                            </a>
                        </div>
                    </mat-card-content>
                </mat-tab>

                <mat-tab [label]="'Documentos'" *ngIf="alugavel.documentos.length">
                    <mat-card-content>
                        <mat-table [dataSource]="alugavel.documentos">
                            <ng-container matColumnDef="documento">
                                <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <a target="_blank" [href]="backURL + 'docs/' + element.url">
                                        <button mat-icon-button>
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedDocumentsColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedDocumentsColumns;"></mat-row>
                        </mat-table>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>