@mixin hideTapHighlightColor() {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.button {
	display: inline-block;
	transition-duration: 3s;
	transition-property: transform;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		transform: scale(1.2);
	}
}

.button.google{
    border:1px solid #ccc !important;
}

.cadastrar{
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.cadastrar:hover{
    border-bottom: 1px solid black;
}

.or {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

.or span {
    color: #ccc;
    padding: 0 0.8rem;
}

.bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

@media (max-width: 440px) {
    button.google.button span{
        display: none;
    }
  }