<div class="col"><span mat-dialog-close class="material-icons">close</span></div>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Login">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin-top: 20px;">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="user" name="email" autocomplete="email" type="email" email
                    (focus)="inputFocus('email')">
                <mat-error *ngIf="loginForm.controls['user'].invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="password" autocomplete="password" type="password"
                    (focus)="inputFocus('senha')">
                <mat-error *ngIf="loginForm.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
            <div class="alert alert-danger row d-flex justify-content-center" *ngIf="loginError">
                <span style="text-align: center;">{{errorMessage}}</span>
            </div>

            <div class="d-flex align-items-center justify-content-center" style="margin-top: 15px;">
                <button class="w-75" [ngClass]="loginForm.valid ? 'button' : null" style="font-weight: 500;"
                    type="submit" mat-button mat-raised-button color="primary"
                    [disabled]="loginForm.invalid">Entrar</button>
            </div>
            <div class="or">
                <hr class="bar" />
                <span>OU</span>
                <hr class="bar" />
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button mat-button mat-raised-button class="button google w-75" color="default" rel="shrink">
                    <img src="assets/svg/google.svg" style="width: 40px; padding: 5px 10px 5px 10px;">
                    <span>
                        Entrar com o Google!
                    </span>
                </button>
            </div>

            <div class="w-100" [ngStyle]="{'display': showLoading ? 'block': 'none'}">
                <mat-progress-bar mode="query"></mat-progress-bar>
            </div>

            <div class="d-flex align-items-center justify-content-center" style="margin-top: 15px;">
                <span (click)="openRecuperarSenha()" style="cursor: pointer;" class="cadastrar">
                    Esqueceu sua senha?
                </span>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 10px;">
                <a href="/about/politica_privacidade.md" target="_blank">Politica de privacidade</a>
            </div>
        </form>
    </mat-tab>

    <mat-tab label="Registrar-se">
        <app-signup></app-signup>
    </mat-tab>
</mat-tab-group>