<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Dados pessoais">
        <mat-card>
            <div class="d-flex align-items-center justify-content-center my-3">
                <img-circular [imgUrl]="user.img_perfil" [firstLetter]="user.nome[0]"></img-circular>
            </div>
            <div class="d-flex justify-content-center">
                <form [formGroup]="validateForm" (ngSubmit)="validate()">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Status Perfil</mat-label>
                                <mat-select formControlName="status_cadastro">
                                    <mat-option *ngFor="let stat of status" [value]="stat.value">
                                        {{ stat.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <ng-template #notLoading>
                                <mat-spinner diameter="50"></mat-spinner>
                            </ng-template>
                            <mat-form-field appearance="outline"
                                *ngIf="validateForm.controls.status_cadastro.value == USUARIO_STATUS.DISAPPROVED.value"
                                class="w-100">
                                <mat-label>Deixe uma observação</mat-label>
                                <textarea matInput maxlength="500" formControlName="observacao"
                                    placeholder="EX.: Os documentos não são válidos...">
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="!isLoading; else notLoading"
                        class="d-flex align-items-center justify-content-center my-3">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="validateForm.invalid || validateForm.pristine">Atualizar</button>
                    </div>
                </form>
            </div>
            <mat-card-content>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Nome</mat-label>
                            <input matInput value="{{ user.nome + ' ' + user.sobrenome }}" readonly />
                        </mat-form-field>
                    </div>
                    <div class="col-sm" *ngIf="dataNascimento">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Data Nascimento</mat-label>
                            <input matInput [value]="dataNascimento " readonly />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput value="{{ user.email }}" readonly />
                            <mat-hint *ngIf="!user.email_validado" style="color: red;">
                                E-mail
                                ainda não
                                verificiado!
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Telefone 1</mat-label>
                            <input matInput value="{{ user.numero_1 }}" readonly />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Telefone 2</mat-label>
                            <input matInput value="{{ user.numero_2 ? user.numero_2 : 'Não registrado'}}" readonly />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab [label]="'Dados Bancários'">
        <mat-card>

            <mat-card-content *ngIf="user.conta_bancaria; else semDadosBancarios">
                

                <div class="row" >
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Banco</mat-label>
                            <input matInput [value]="user.conta_bancaria.banco" readonly />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Agência</mat-label>
                            <input matInput [value]="user.conta_bancaria.agencia" readonly />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Número da conta</mat-label>
                            <input matInput [value]="user.conta_bancaria.numero" readonly />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Tipo</mat-label>
                            <input matInput [value]="user.conta_bancaria.tipo" readonly />
                        </mat-form-field>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>
                <ng-template #semDadosBancarios>
                    <h4>O usuário ainda não cadastrou seus dados bancários.</h4>
                </ng-template>
    </mat-tab>
    <mat-tab [label]="'Documentos Pessoais'">
        <mat-card>

            <mat-card-content>

                <mat-table *ngIf="documentos && documentos.length > 0; else semDocumentos" class="mat-elevation-z8 w-50"
                    [dataSource]="documentos">
                    <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element" class="action-row">
                            <a mat-flat-button color="primary" target="_blank"
                                [href]="BACK_BASE_URL + '/docs/' + element.url">Visualizar</a>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="documentsTableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: documentsTableColumns;"></mat-row>
                </mat-table>

                <ng-template #semDocumentos>
                    <h4>O usuário ainda não enviou nenhum documento.</h4>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>