<div class="row">
    <div class="col"><span mat-dialog-close class="material-icons">close</span></div>
    <div class="col d-flex justify-content-center"><span mat-dialog-title>Cadastrar</span></div>
    <div class="col"></div>
</div>

<div mat-dialog-content>
    <mat-vertical-stepper linear="true" #signupStepper>
        <mat-step [stepControl]="primeiroPasso" [editable]="editavel">
            <form [formGroup]="primeiroPasso">
                <ng-template matStepLabel>Preencha o seu email!</ng-template>
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" 
                    placeholder="Email" formControlName="email" required email [errorStateMatcher]="matcher">
                    <mat-error *ngIf="!primeiroPasso.hasError('existe')">Preencha o campo corretamente!</mat-error>
                    <mat-error *ngIf="primeiroPasso.hasError('existe')">Email já utilizado!</mat-error>
                </mat-form-field>
                <div class="d-flex">
                    <button mat-button mat-raised-button color="primary" (click)="nextStep(signupStepper)">Proximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="segundoPasso" [editable]="editavel">
            <form [formGroup]="segundoPasso">
                <ng-template matStepLabel>Preencha o seus dados pessoais!</ng-template>
                <mat-form-field class="w-100">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" name="fname" autocomplete="given-name"  placeholder="Nome" formControlName="nome" required>
                    <mat-error>Preencha o campo corretamente!</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput type="text" name="mname" autocomplete="additional-name" placeholder="sobrenome" formControlName="sobrenome" required>
                    <mat-error>Preencha o campo corretamente!</mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <input style="color: black;" matInput [matDatepicker]="picker" placeholder="Data de nascimento" 
                        formControlName="data_nascimento" disabled required [errorStateMatcher]="matcher" (dateChange)='checkAge()'>
                    <mat-error *ngIf="!segundoPasso.hasError('age')">Selecione uma data válida!</mat-error>
                    <mat-error *ngIf="segundoPasso.hasError('age')">Para se cadastrar é preciso ser maior de 18 anos!</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker startView="multi-year" #picker disabled="false" format></mat-datepicker>
                </mat-form-field>
                <span>Selecione uma data.</span>
                <div style="margin-top: 5px;">
                    <button mat-button mat-raised-button color="primary" (click)="nextStep(signupStepper)">Proximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="terceiroPasso" [editable]="editavel">
            <form [formGroup]="terceiroPasso">
                <ng-template matStepLabel>Preencha o seus dados para contato!</ng-template>
                <mat-form-field class="w-100">
                    <mat-label>Telefone 1</mat-label>
                    <input matInput type="tel" name="phone" autocomplete="tel-national" placeholder="(62) 99999-9999" minlength="14" maxlength="15"
                        formControlName="tel1" required (keyup)="formatarFone('tel1')">
                    <mat-error>Preencha o campo corretamente!</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Telefone 2</mat-label>
                    <input matInput type="tel" autocomplete="tel-national" placeholder="(62) 9999-9999" minlength="14" maxlength="15"
                    formControlName="tel2" (keyup)="formatarFone('tel2')">
                    <mat-error>Preencha o campo corretamente!</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button mat-raised-button color="primary" (click)="nextStep(signupStepper)">Proximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="quartoPasso" [editable]="editavel">
            <form [formGroup]="quartoPasso" (ngSubmit)="nextStep(signupStepper)">
                <ng-template matStepLabel>Crie uma senha!</ng-template>
                <mat-form-field class="w-100">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="*********" 
                    formControlName="senha" required minlength="6" maxlength="16">
                    <mat-error *ngIf="quartoPasso.hasError('lengthMax')">
                        Senha muito grande!
                    </mat-error>
                    <mat-error *ngIf="quartoPasso.hasError('lengthMin')">
                        Senha muito curta!
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" style="margin-top: 5px;">
                    <mat-label>Confirme a senha</mat-label>
                    <input matInput type="password" placeholder="*********" [errorStateMatcher]="matcher"
                    formControlName="confirmar_senha" required minlength="6" maxlength="16">
                    <mat-error *ngIf="quartoPasso.hasError('notSame')">
                        Senhas não conferem!
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-button mat-raised-button color="primary" type="submit">Finalizar cadastro</button>
                </div>
                <div class="w-100" style="margin-top: 10px;" [ngStyle]="{'display': loader ? 'block' : 'none'}">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Finalizado</ng-template>
            <div class="alert alert-success" style="text-align: center" role="alert">
                Sua conta foi criada com sucesso!<br>
            </div>
            <div class="w-100">
                <button class="w-100" style="font-weight: 500;"
                    mat-button mat-raised-button mat-dialog-close color="accent">Fechar</button>
            </div>
        </mat-step>

    </mat-vertical-stepper>
    <div class="d-flex justify-content-center" (click)="entrar()"
        style="margin-top: 10px; border-top: 1px solid rgb(196, 196, 196); padding-top: 10px;">
        <span style="font-size: 17px;" class="entrar">Já tem uma conta? <b>Entrar.</b></span>
    </div>
</div>
