<div class="container content">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <div class="row" style="margin-left: 0;">
                <mat-form-field appearance="none" floatLabel="always" style="width: 100%; margin-bottom: -1.25em">
                    <mat-label style="color: white;">BUSQUE POR CIDADE OU BAIRRO.</mat-label>
                    <input type="text" matInput formControlName="location" class="inputCidade" [matAutocomplete]="auto" placeholder="Ex: Goiânia"  maxlength="40">
                    <mat-autocomplete #auto="matAutocomplete"> 
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="row" style="margin-left: 0;">
                <mat-form-field appearance="none" color="accent" floatLabel="always" style="width: 100%; margin-bottom: -1.25em">
                    <mat-label style="color: white;">TIPO DE SERVIÇO</mat-label>
                    <mat-select disableOptionCentering >
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</form>
</div>