<mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="'Ativos ('+ ativos.length +')'">
        <div style="margin: 10px" class="d-flex flex-row flex-wrap justify-content-start"
            *ngIf="ativos && ativos.length > 0; else emptyAtivos">
            <div style="margin: 5px;" *ngFor="let aluguel of ativos">
                <contrato [aluguel]="aluguel" (changeContracts)="onContractChanges()"></contrato>
            </div>
        </div>

    </mat-tab>
    <mat-tab [label]="'Em análise ('+ inativos.length +')'">
        <div style="margin: 10px" class="d-flex flex-row flex-wrap justify-content-start"
            *ngIf="inativos && inativos.length > 0; else emptyAnalises">
            <div style=" margin: 5px;" *ngFor="let aluguel of inativos">
                <contrato [aluguel]="aluguel" (changeContracts)="onContractChanges()"></contrato>
            </div>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Em processamento"></mat-tab> -->
    <mat-tab [label]="'Cancelados ('+ cancelados.length +')'">
        <div style="margin: 10px" class="d-flex flex-row flex-wrap justify-content-start"
            *ngIf="cancelados && cancelados.length > 0; else emptyCancelados">
            <div style=" margin: 5px;" *ngFor="let aluguel of cancelados">
                <div>
                    <contrato [aluguel]="aluguel" (changeContracts)="onContractChanges()"></contrato>
                    <div class="comment-footer mat-elevation-z2">
                        <span><b>{{ aluguel.canceled_by_locador? "Comentário:" : "Seu comentário:" }}</b>
                            {{ aluguel.comentario }}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<!-- <Templates caso algum dos demais esteja vazio -->
<ng-template #emptyAtivos>
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 150px;">
        <a class="icon fa fa-map-pin  fa-4x"></a>

        <h1 style="opacity: 30%;">
            Não há aluguéis ativos.
        </h1>
    </div>
</ng-template>

<ng-template #emptyAnalises>
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 150px;">
        <a class="icon fa fa-map-pin  fa-4x"></a>

        <h1 style="opacity: 30%;">
            Não há aluguéis em análise.
        </h1>
    </div>
</ng-template>

<ng-template #emptyCancelados>
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 150px;">
        <a class="icon fa fa-map-pin  fa-4x"></a>

        <h1 style="opacity: 30%;">
            Não há aluguéis cancelados.
        </h1>
    </div>
</ng-template>