.comment-footer {
    min-height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    opacity: 0.5;
    border-radius: 50%;
    background: #ccc;
    padding: 40px;
    text-decoration: none;
    color: #000;
    text-align: center;
  }