<mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="'Ativos ('+ ativos.length +')'">
        <div style="margin: 10px" class="d-flex flex-row flex-wrap justify-content-start">
            <div style="margin: 5px;" *ngFor="let ativo of ativos">
                <app-highlight-items [alugavel_id]='ativo.alugavel_id'></app-highlight-items>
            </div>
        </div>
    </mat-tab>
    <mat-tab [label]="'Inativos ('+ inativos.length +')'">
        <div style="margin: 10px" class="d-flex flex-row flex-wrap justify-content-start">
            <div style="margin: 5px;" *ngFor="let inativo of inativos">
                <app-highlight-items [alugavel_id]='inativo.alugavel_id'></app-highlight-items>
            </div>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Em processamento"></mat-tab> -->
    <!-- <mat-tab label="Cancelados ou extornados"></mat-tab> -->
</mat-tab-group>