<mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="'Ativos ('+ ativos.length +')'">
        <div class="mt-2 d-flex flex-wrap flex-row flex-wrap justify-content-around"
            *ngIf="ativos && ativos.length > 0; else emptyAtivos">
            <div class="m-2" *ngFor="let aluguel of ativos">
                <contrato [aluguel]="aluguel" (changeContracts)="onContractChanges()"></contrato>
            </div>
        </div>
    </mat-tab>
    
    <mat-tab [label]="'Em análise ('+ inativos.length +')'">
        <div class="mt-2 d-flex flex-wrap flex-row flex-wrap justify-content-around"
            *ngIf="inativos && inativos.length > 0; else emptyAnalises">
            <div class="m-2" *ngFor="let aluguel of inativos">
                <contrato [aluguel]="aluguel" (changeContracts)="onContractChanges()"></contrato>
            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'Cancelados ('+ cancelados.length +')'">
        <div class="mt-2 d-flex flex-wrap flex-row flex-wrap justify-content-around"
            *ngIf="cancelados && cancelados.length > 0; else emptyCancelados">
            <div class="m-2" *ngFor="let aluguel of cancelados">
                <div>
                    <contrato [aluguel]="aluguel" (changeContracts)="onContractChanges()"></contrato>
                    <div class="comment-footer mat-elevation-z2">
                        <span><b>{{ aluguel.canceled_by_locador? "Comentário:" : "Seu comentário:" }}</b>
                            {{ aluguel.comentario }}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<!-- <Templates caso algum dos demais esteja vazio -->
<ng-template #emptyAtivos>
    <empty-page-message [message]="'Não há aluguéis ativos.'" [classIcone]="'fa-map-pin'"></empty-page-message>
</ng-template>

<ng-template #emptyAnalises>
    <empty-page-message [message]="'Não há aluguéis em análise.'" [classIcone]="'fa-map-pin'"></empty-page-message>
</ng-template>

<ng-template #emptyCancelados>
    <empty-page-message [message]="'Não há aluguéis cancelados.'" [classIcone]="'fa-map-pin'"></empty-page-message>
</ng-template>