<div id="content" class="container-fluid">
    <app-searchbar></app-searchbar>

    <!-- Info -->
    <div class="row">
        <!-- titulo -->
        <div class="col d-flex justify-content-center align-items-center" style="margin-top: 80px;">
            <span style="font-weight: bold; font-size: 30px; text-align: center;">Somos uma plataforma que ajuda<br> os espaços e serviços a<br> encontrarem pessoa.</span>
        </div>
    </div>
    <!-- Linha 1 - Mão e play -->
    <div class="d-flex flex-row flex-wrap justify-content-center" style="margin-top: 20px;">
        <div class="d-flex flex-row" style="width: 440px;">
            <img src="assets/imgs/home/mao.png" style="width: 40px; height: 60px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span style="font-weight: bold; font-size: 20px;">Tudo num clique.</span>
                <span>Com a variedade de ofertas e a clareza na divulgação,<br> acreditamos que encontrará o que procura.</span>
            </div>
        </div>
        <div class="d-flex flex-row" style="margin-left: 20px; width: 440px;">
            <img src="assets/imgs/home/play.png" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span style="font-weight: bold; font-size: 20px;">Todo controle.</span>
                <span>Você tem controle de tudo e negocia como<br> quiser. A contratação é feita direto como<br> proprietário. </span>
            </div>
        </div>
    </div>

    <!-- Linha 2 -  Smile e relogio -->
    <div class="d-flex flex-row flex-wrap justify-content-center" style="margin-top: 20px; margin-bottom: 80px;">
        <div class="d-flex flex-row" style="width: 440px;">
            <img src="assets/imgs/home/smile.png" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span style="font-weight: bold; font-size: 20px;">Sem preocupação.</span>
                <span>Ajudamos na gestão de contrato e pagamentos.<br> Você não </span>
            </div>
        </div>
        <div class="d-flex flex-row" style="margin-left: 20px; width: 440px;">
            <img src="assets/imgs/home/relogio.png" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span style="font-weight: bold; font-size: 20px;">Mais tempo pra você.</span>
                <span>Queremos com isso ajudar a otimizar o<br> processo de locação compartilhada e oferta de<br> serviços</span>
            </div>
        </div>
    </div>
    <!-- Fim Info -->

    <!-- Como funciona -->
    <div class="d-flex justify-content-between" style="background-color: black;">

        <!-- Imagem -->
        <img src="assets/imgs/home/como_funciona_bg.png" style="height: 500px;">

        <!-- Cards -->
        <div class="w-50 d-flex flex-column justify-content-start align-items-center" style="margin-top: 50px;">
            <span class="color-verde-escuro w-100" style="font-weight: bold; font-size: 30px;">Como funciona</span>

            <div class="d-flex flex-row flex-wrap w-100" style="margin-top: 20px;">
                <div class="d-flex  flex-row">
                    <span class="material-icons color-verde-escuro" style="width: 40px;">check_circle_outline</span>
                    <span style="color: white;">Somos uma plataforma que<br> ajuda os espaços e serviços a<br> encontrarem as pessoas.</span>
                </div>
                <div class="d-flex  flex-row" style="margin-left: 20px;">
                    <span class="material-icons color-verde-escuro" style="width: 40px;">check_circle_outline</span>
                    <span style="color: white;">Queremos com isso ajudar a<br> otimizar o processo de<br> locação compartilhada e<br> oferta de serviços.</span>
                </div>
            </div>

            <div class="d-flex flex-row flex-wrap w-100" style="margin-top: 20px;">
                <div class="d-flex  flex-row">
                    <span class="material-icons color-verde-escuro" style="width: 40px;">check_circle_outline</span>
                    <span style="color: white;">A contratação é feita DIRETA<br> com o Proprietário.<br><b>Não somos intermediários.</b></span>
                </div>
                <div class="d-flex  flex-row" style="margin-left: 20px;">
                    <span class="material-icons color-verde-escuro" style="width: 40px;">check_circle_outline</span>
                    <span style="color: white;">Com a variedade de ofertas e<br> a clareza na divulgação,<br> acreditamos que encontrará o<br> que procura.</span>
                </div>
            </div>
            
            <div class="d-flex flex-row flex-wrap w-100" style="margin-top: 20px;">
                <div class="d-flex  flex-row">
                    <span class="material-icons color-verde-escuro" style="width: 40px;">check_circle_outline</span>
                    <span style="color: white;">Ajudamos na gestão de<br> contratos e pagamentos.</span>
                </div>
            </div>

        </div>
    </div>
    <!-- Fim Como funciona -->

    <app-highlight></app-highlight>
</div>