@import '../../../place-et-theme.scss';

#content{
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);



    @media(max-width: 920px) {
        .como_funciona{

            justify-content: center !important;
            background-image: none;

            .content{
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

}

#info{
    padding-bottom: 80px;
    padding-top: 80px;
}

.tituloInfo{
    font-weight: bold; 
    font-size: 30px; 
    text-align: center; 
    width: 400px;
    line-height: 1.1;
    z-index: 2;
}

.infoContentTitle{
    font-weight: bold; 
    font-size: 20px;
    padding-bottom: 5px;
}

.infoContentContent{
    font-size: 16px;
    max-width: 300px;
    text-align: justify;
}

.como_funciona{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black; 
    overflow-y: hidden;

    .content{
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.videoComoAnunciar{
    background-size: contain;
    background-color: map-get($map: $md-verdeescuro, $key: 100);
    height: 100%;
    padding-bottom: 48px;
    padding-top: 28px;
    
    span{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    iframe{
        border-radius: 5px;
    }

}

.videoComoAlugar{
    background-size: contain;
    background-color: map-get($map: $md-amarelo, $key: 100);
    padding-bottom: 48px;
    padding-top: 28px;
    span{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    iframe{
        border-radius: 5px;
    }

}