<div id="content" class="w-100">
    <app-searchbar></app-searchbar>
    <!-- Info -->
        <!-- titulo -->
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 80px;"  id="info">
        <span class="tituloInfo">Somos uma plataforma que ajuda os espaços e serviços a encontrarem pessoas.</span>
    </div>
    <!-- Linha 1 - Mão e play -->
    <div class="d-flex flex-row flex-wrap justify-content-center" style="margin-top: 20px;">
        <div class="d-flex flex-row" style="margin-left: 20px; margin-right: 20px; width: 440px; margin-bottom: 20px;">
            <img src="assets/imgs/home/mao.jpg" style="width: 40px; min-width: 40px; height: 60px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span class="infoContentTitle" >Tudo num clique.</span>
                <span class="infoContentContent">Com a variedade de ofertas e a clareza na divulgação, acreditamos que encontrará o que procura.</span>
            </div>
        </div>
        <div class="d-flex flex-row" style="margin-left: 20px; margin-right: 20px; width: 440px;">
            <img src="assets/imgs/home/play.jpg" style="width: 40px; min-width: 40px; height: 40px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span class="infoContentTitle">Todo controle.</span>
                <span class="infoContentContent">Você tem controle de tudo e negocia como quiser. A contratação é feita direto com proprietário. </span>
            </div>
        </div>
    </div>

    <!-- Linha 2 -  Smile e relogio -->
    <div class="d-flex flex-row flex-wrap justify-content-center" style="margin-top: 20px; margin-bottom: 80px;">
        <div class="d-flex flex-row" style="margin-left: 20px; margin-right: 20px; width: 440px; margin-bottom: 20px;">
            <img src="assets/imgs/home/smile.jpg" style="width: 40px; min-width: 40px; height: 40px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span class="infoContentTitle">Sem preocupação.</span>
                <span class="infoContentContent">Ajudamos na gestão de contrato e pagamentos. Você não </span>
            </div>
        </div>
        <div class="d-flex flex-row" style="margin-left: 20px; margin-right: 20px; width: 440px;">
            <img src="assets/imgs/home/relogio.jpg" style="width: 40px; min-width: 40px; height: 40px;">
            <div class="d-flex flex-column" style="padding-left: 20px;">
                <span class="infoContentTitle">Mais tempo pra você.</span>
                <span class="infoContentContent">Queremos com isso ajudar a otimizar o processo de locação compartilhada e oferta de serviços</span>
            </div>
        </div>
    </div>
    <!-- Fim Info -->

    <!-- Video -->
    <div class="w-100 d-flex flex-wrap flex-column align-content-center justify-content-center videoComoAnunciar" id="comoFunciona">
        <span style="line-height: 1.1;">Como Anunciar um espaço compartilhado com a ajuda da PLACEET</span>
        <div class="d-flex justify-content-center">
            <iframe 
                class="mat-elevation-z4" 
                src="https://www.youtube.com/embed/5NheRGtlAVo?autoplay=0&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&controls=0"
                width="888"
                height="500"
                style="max-width: 90vw;"
                frameborder="0"></iframe>
        </div>
    </div>
    <div class="w-100 d-flex flex-column flex-wrap align-content-center justify-content-center videoComoAlugar">
        <span style="line-height: 1.1;">Como Alugar um espaço compartilhado com a ajuda da PLACEET</span>
        <div class="d-flex justify-content-center">
            <iframe 
                class="mat-elevation-z4" 
                src="https://www.youtube.com/embed/NalPePFsiKQ?autoplay=0&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&controls=0" 
                width="888" 
                height="500" 
                style="max-width: 90vw;"
                frameborder="0"
                ></iframe>
        </div>
    </div>
    <app-highlight></app-highlight>
</div>