@import '../../../place-et-theme.scss';

#searchContainer {
    border-top-left-radius: 100px;
    background-color: $pl-verde-escuro;
    button.rounded-pill {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    input.rounded-pill {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: none;
        outline: none;
    }
    div.expanded {
        width: 50%;
    }
    div, p {
        z-index: 2;
    }
} 

#comoFunciona {
    border-bottom-left-radius: 100px;
    img {
        max-height: 400px;
    }
    p.titulo {
        color: $pl-verde-escuro;
    }

    mat-icon {
        color: $pl-verde-escuro;
    }
}

#infoMiddle {
    img {
        max-height: 50px;
    }
}

#videosContainer {
    min-height: 45vh;
    iframe {
        min-height: 45vh;
    }
    .anunciar {
        background-color: $pl-verde-escuro;
        border-top-right-radius: 100px;
    }
    .alugar {
        background-color: $pl-amarelo;
        border-top-right-radius: 100px;
    }
}

@media (max-width: 1260px) {
    img.hide { display: none !important; }
    div.expanded { width: 80% !important; }
}

@media (max-width: 450px) {
    div.search-input {
        display: none;
    }
}
