<mat-card>
    <mat-card-title>{{ alugavel.titulo}}</mat-card-title>
    <mat-card-subtitle>{{ alugavel.tipo.nome }}</mat-card-subtitle>
    <!-- <mat-checkbox [(ngModel)]="alugavel.disponivel" (change)="onStatusChange()">Disponível?</mat-checkbox> -->
    <form [formGroup]="statusForm" (ngSubmit)="statusChange()">
        <mat-form-field appearance="fill">
            <mat-label>Status Alugavel</mat-label>
            <mat-select formControlName="status" (change)="statusChange()">
                <mat-option *ngFor="let stat of status" [value]="stat.value">
                    {{ stat.name | uppercase }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button style="margin-left: 10px;" mat-raised-button color="accent" type="submit" [disabled]="statusForm.invalid || statusForm.pristine">Atualizar</button>
        <mat-form-field *ngIf="statusForm.value.status === STATUS.DISAPPROVED.value" class="w-100">
            <mat-label>Deixe uma observação</mat-label>
            <textarea matInput
                maxlength="500"
                formControlName="observacao"
                placeholder="EX.: Os documentos não são válidos...">
            </textarea>
        </mat-form-field>
    </form>
    <mat-card-content>
        <h3 [routerLink]="'/user/usuarios/' + alugavel.anunciante_id" class="link" *ngIf="!alugavel.anunciante_avaliado">O anunciante não possui o cadastro validado! Visualizar anunciante.</h3>
        <h4>Descrição</h4>
        <span style="overflow-wrap: break-word;">{{alugavel.descricao}}</span>
        <table>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Valor Diário</mat-label>
                    <input matInput [value]="'R$ ' + alugavel.valor" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Valor Mensal</mat-label>
                    <input matInput [value]="'R$ ' + alugavel.valor_mes" readonly />
                </mat-form-field>
            </td>
        </table>
        <table *ngIf="alugavel.local">
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput [value]="alugavel.local.bairro" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Rua</mat-label>
                    <input matInput [value]="alugavel.local.rua" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input matInput [value]="alugavel.local.numero" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput [value]="alugavel.local.cep" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input matInput [value]="alugavel.local.complemento" readonly />
                </mat-form-field>
            </td>
        </table>
        <table *ngIf="alugavel.local">
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>País</mat-label>
                    <input matInput [value]="alugavel.local.pais" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput [value]="alugavel.local.cidade" readonly />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput [value]="alugavel.local.estado" readonly />
                </mat-form-field>
            </td>
        </table>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="alugavel.caracteristicas && alugavel.caracteristicas.length > 0">
    <mat-card-title>Caracteristicas</mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="alugavel.caracteristicas">
            <ng-container matColumnDef="caracteristica">
                <mat-header-cell *matHeaderCellDef> Caracteristica </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.valor}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="alugavel.imagens && alugavel.imagens.length">
    <mat-card-title>Imagens</mat-card-title>
    <mat-card-content>
        <div class="w-100 d-flex flex-row flex-wrap justify-content-around">
            <mat-card class="imgCard" *ngFor="let foto of alugavel.imagens; index as i">
                <img class="w-100 h-100" [src]="backURL + 'imgs/' + foto.url">
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="alugavel.documentos && alugavel.documentos.length > 0">
    <mat-card-title>Documentos</mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="alugavel.documentos" class="mat-elevation-z8">
            <ng-container matColumnDef="documento">
                <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a mat-stroked-button color="primary" target="_blank"
                        [href]="backURL + 'docs/' + element.url">Visualizar</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedDocumentsColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedDocumentsColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>