<div id="content" class="container-fluid">
    
    <!-- Titulo do anúncio -->
    <div class="row">
        <div class="col d-flex flex-row align-items-center justify-content-start">
            <div class="d-flex justify-content-center flex-column">
                <span style="font-size: 25px; font-weight: bold;">{{espaco.titulo}}</span>
                <span style="font-weight: bold; font-size: 15px;">{{espaco.tipo.nome}}</span>
            </div>
            <!-- <div class="d-flex justify-content-around" style="margin-left: 50px;">
                <span class="material-icons" style="font-size: 50px; color: #09fe9d">face</span>
                <span style="font-weight: bold; margin:auto; display:table; padding-left: 5px">Página do Locador</span>
            </div> -->
        </div>
    </div>

    <div style="height: 40px;"></div>

    <!-- 1º Card - Imagens e detalhes -->
    <div class="row">
        <div class="col-lg-9">
            <div *ngIf="view === 'photos'" id="spacesCarousel" class="carousel slide myCarousel" style="max-height: 572px;">
                <ol class="carousel-indicators">
                    <li *ngFor="let image of espaco.imagens; let i=index" 
                        data-target="#spacesCarousel" attr.data-slide-to='{{i}}' [ngClass]="i == 0 ? 'active': ''"></li>
                </ol>
                <div class="carousel-inner">
                    <div *ngFor="let image of espaco.imagens; let i=index" [ngClass]="i == 0 ? 'carousel-item active':'carousel-item'" >
                        <div class="bg-image" [ngStyle]="{'background-image': 'url('+ backUrl + '/imgs/' + image.url +')'}"></div>
                        <img class="d-block carouselImage" [src]="backUrl + '/imgs/' + image.url || 'assets/imgs/logo/logo_preta-min.png'" >
                    </div>
                </div>
                <a class="carousel-control-prev" href="#spacesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Proximo</span>
                </a>
                <a class="carousel-control-next" href="#spacesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
            </div>
            <maps *ngIf="view === 'maps'" [lngLatPlace]="{ latitude: espaco.local.latitude, longitude: espaco.local.longitude }"></maps>
        </div>
        <div class="col-lg-3">
            <div class="myCard col">
                <!-- Entrada / Saida -->
                <div class="d-flex flex-column">
                    <div>
                        <mat-form-field style="width: 100%">
                            <mat-label style="color: black; font-weight: 500;">Entrada</mat-label>
                            <input style="color: black; font-weight: 500;" disabled matInput [matDatepicker]="pickerEntrada" [min]='hoje' [max]='saida' (dateChange)="selecionaData('entrada', $event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerEntrada"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEntrada disabled="false" format></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field style="width: 100%">
                            <mat-label style="color: black; font-weight: 500;">Saída</mat-label>
                            <input style="color: black; font-weight: 500;" disabled matInput [matDatepicker]="pickerSaida" [min]='entrada' (dateChange)="selecionaData('saida', $event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerSaida"></mat-datepicker-toggle>
                            <mat-datepicker #pickerSaida disabled="false" format></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
        
                <!-- Valores -->
                <div class="d-flex" style="color: black; justify-content: space-between; font-weight: 500;">
                    <span>Nº de pessoas</span>
                    <span style="text-align: right; padding-right: 6px;">{{espaco.caracteristicas[CARACTERISTICAS.QUANTIDADE_PESSOAS - 1].valor}}</span>
                </div>
                <div class="d-flex" style="color: black; justify-content: space-between; font-weight: 500;">
                    <span>Quantidade de dias</span>
                    <span style="text-align: right; padding-right: 6px;">{{totalDias()}}</span>
                </div>
                <div style="border-bottom: 1px solid black; height: 20px; margin-bottom: 10px;"></div>
                <div class="d-flex" style="color: black; justify-content: space-between; font-weight: 500;">
                    <span>CUSTO POR DIA</span>
                    <span style="text-align: right; padding-right: 6px;">R$ {{calculaCustoDia(espaco.taxa, espaco.valor).toFixed(2)}}</span>
                </div>
                <div class="d-flex" style="color: black; justify-content: space-between; font-weight: 500;">
                    <span>TAXAS</span>
                    <span style="text-align: right; padding-right: 6px;">R$ {{calculaTaxa(espaco.taxa, espaco.valor).toFixed(2)}}</span>
                </div>
                <div class="d-flex" style="color: black; justify-content: space-between; font-weight: 500;">
                    <span>CUSTO POR DIA TOTAL</span>
                    <span style="text-align: right; padding-right: 6px;">R$ {{calculaTotal(espaco.taxa, espaco.valor).toFixed(2)}}</span>
                </div>
                <div class="d-flex" style="color: black; justify-content: space-between; font-weight: bold;">
                    <span>TOTAL</span>
                    <span style="text-align: right; padding-right: 6px;">R$ {{calculaTotalPeriodo(espaco.taxa, espaco.valor).toFixed(2)}}</span>
                </div>
        
                <!-- botão reservar -->
                <div class="d-flex align-items-center justify-content-center" style="padding: 20px;">
                    <button class="btn btn-reservar" type="button" (click)="checkout()">RESERVAR</button>
                </div>
        
                <!-- Adicionar mais itens à sua reserva. -->
                <div class="d-flex align-items-center justify-content-center">
                    <!-- <a style="color: black; font-weight: 500;" href="">Adicione mais itens à sua reserva.</a> -->
                </div>
        
                <!-- Botões Compartilhar Salvar Localização -->
                <div class="d-flex align-items-center justify-content-around flex-wrap"
                    style="padding-top: 20px; padding-right: auto; padding-left: auto;">
                    <div class="d-flex flex-column align-items-center">
                        <span class="material-icons action-button-icon">share</span>
                        <span style="font-size: 12px; font-weight: bold;">Compartilhar</span>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <span class="material-icons action-button-icon">favorite</span>
                        <span style="font-size: 12px; font-weight: bold;">Salvar</span>
                    </div>
                    <div *ngIf="view === 'photos'" class="d-flex flex-column align-items-center" (click)="view = 'maps'">
                        <span class="material-icons action-button-icon">location_on</span>
                        <span style="font-size: 12px; font-weight: bold;">Localização</span>
                    </div>
                    <div *ngIf="view === 'maps'" class="d-flex flex-column align-items-center" (click)="view = 'photos'">
                        <span class="material-icons action-button-icon">collections</span>
                        <span style="font-size: 12px; font-weight: bold;">Fotos</span>
                    </div>
                </div>
        
                <!-- Politica de cancelamento -->
                <div class="d-flex align-items-center justify-content-center" style="padding: 40px 20px 10px 20px">
                    <a style="color: black; font-weight: 500;" href="">*POLÍTICA DE CANCELAMENTO.</a>
                </div>
            </div>
            <!-- <app-card-reservar [data]="espaco"></app-card-reservar> -->
        </div>
    </div>
    <div class="row endereco" style="margin-bottom: 15px;">
        <div class="col-xl-3 d-flex align-items-center" *ngIf="espaco.nota">
            <span class="nota">{{espaco.nota.toFixed(1)}}</span>
            <span class="material-icons nota-star" *ngFor="let item of countStars(espaco.nota)">{{item}}</span>
        </div>
        <div class="col-xl-5 d-flex align-items-center">
            <span class="endereco">{{espaco.local.rua}} - {{espaco.local.cidade}} - {{espaco.local.estado}}</span>
        </div>
        <div class="col-xl-4 d-flex flex-row align-items-center">
            <div class="col-xl-3 d-flex flex-column align-items-center justify-content-center caracteristica">
                <span class="material-icons">aspect_ratio</span>
                <p class="caracteristica">{{espaco.caracteristicas[CARACTERISTICAS.AREA - 1].valor}} m2</p>
            </div>
            <div class="col-xl-3 d-flex flex-column align-items-center justify-content-center caracteristica">
                <img class="caracteristica" src="assets/svg/desk.svg" alt="">
                <p class="caracteristica">{{espaco.caracteristicas[CARACTERISTICAS.QUANTIDADE_MESAS - 1].valor}} mesas</p>
            </div>
            <div class="col-xl-3 d-flex flex-column align-items-center justify-content-center caracteristica">
                <img class="caracteristica" src="assets/svg/car.svg" alt="">
                <p class="caracteristica">{{espaco.caracteristicas[CARACTERISTICAS.QUANTIDADE_VAGAS - 1].valor}} vagas</p>
            </div>
            <div class="col-xl-3 d-flex flex-column align-items-center justify-content-center caracteristica" *ngIf="espaco.caracteristicas[CARACTERISTICAS.INTERNET - 1].valor == 'true'">
                <span class="material-icons">wifi</span>
                <p class="caracteristica">Internet</p>
            </div>
        </div>
    </div>

    <!-- Informaçõe do anuncio -->
    <div class="row" style="padding-right: 10%; margin-top: 40px;">
        <div class="col">

            <!-- Descrição do proprietario -->
            <div class="d-flex flex-column">
                <span style="font-weight: 600; padding-bottom: 10px;">Descrição do proprietário</span>
                <span>{{espaco.descricao}}</span>
            </div>

            <!-- Disponivel -->
            <!-- <div class="d-flex flex-column" *ngIf="espaco.caracteristicas.length > 6">
                <span style="font-weight: 600; margin-top: 30px; padding-bottom: 10px;">Disponível</span>
                <div class="d-flex flex-row" *ngFor="let item of espaco.caracteristicas; index as i" >
                    <div *ngIf="item.id > 6 && item.valor == 'true'">
                        <span class="material-icons color-verde">check</span>
                        <span> {{item.nome}}</span>
                    </div>
                </div>
            </div> -->

            <!-- Funcionamento -->
            <div class="d-flex flex-column">
                <span style="font-weight: 600; margin-top: 30px; padding-bottom: 10px;">Funcionamento</span>
                <span>. {{espaco.caracteristicas[CARACTERISTICAS.HORARIO_FUNCIONAMENTO - 1].valor}}</span>
                <span>. O prazo começa após a confirmação do pagamento</span>
            </div>

            <!-- linha -->
            <div style="border-bottom: 2px solid #b1b1b1; padding-top: 30px;"></div>

            <!-- Condições -->
            <div class="d-flex flex-column">
                <span style="font-weight: 600; margin-top: 30px; padding-bottom: 10px;">Condições</span>
                <span *ngFor="let condicao of condicoes">. {{condicao.descricao}}</span>
            </div>

            <!-- linha -->
            <div style="border-bottom: 2px solid #b1b1b1; padding-top: 30px;"></div>

            <!-- Informações adicionais -->
            <div class="d-flex flex-column">
                <span style="font-weight: 600; margin-top: 30px; padding-bottom: 10px;">Informações adicionais</span>
                <span *ngFor="let item of espaco.infos">. {{item.descricao}}</span>
            </div>

            <!-- linha -->
            <div style="border-bottom: 2px solid #b1b1b1; padding-top: 30px;"></div>

            <!-- Duvida -->
            <div class="d-flex flex-column">
                <a href="" style="font-weight: 500; margin-top: 30px; padding-bottom: 10px; font-size: 20px;">Ainda tem alguma dúvida? Deixe sua pergunta ao locador</a>
                <!-- <mat-form-field appearance="outline">
                    <mat-label style="font-size: 15px;">Deixe sua dúvida aqui.</mat-label>
                    <a>Redireciona pro WPP</a>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="5"
                              cdkAutosizeMaxRows="5"
                              maxlength="350"></textarea>
                </mat-form-field>
                <button mat-flat-button color="primary">ENVIAR</button> -->
            </div>
        </div>
    </div>

</div>

    <!-- Avaliações -->
<div id='avaliacoes' class="container-fluid">

    <!-- Estrelas -->
    <!-- <div class="row" style="margin-top: 40px;">
        <div class="col d-flex flex-row align-items-center justify-content-start flex-wrap">
            <div class="d-flex justify-content-center">
                <span style="font-size: 31px;">Avaliações</span>
            </div>
            <div class="d-flex justify-content-around" style="margin-left: 50px;">
                <span class="material-icons color-verde" *ngFor="let item of countStars(data.dadosCompra.avaliacao.nota)" style="font-size: 50px ;margin-left: 5px; width: 50px;">{{item}}</span>
                <span style="margin:auto; display:table; font-size: 35px; padding-left: 5px; font-weight: bold;">{{data.dadosCompra.avaliacao.nota | number:'1.1'}}</span>
            </div>
        </div>
    </div> -->

    <!-- Comentarios -->
    <!-- <div class="row" style="margin-top: 20px; margin-right: 20%;">
        <div class="col" style="margin-bottom: 15px;" *ngFor="let item of data.dadosCompra.avaliacao.comentarios">

            <div class="d-flex justify-content-start">
                <span class="material-icons color-verde-escuro" style="font-size: 50px">account_circle</span>
                <span style="font-weight: 500; margin-top: auto; margin-bottom: auto; display:table; padding-left: 10px; font-size: 15px;">{{item.autor}}</span>
            </div>

            <div class="d-flex "> 
                <span class="material-icons color-verde" *ngFor="let stars of countStars(item.nota)" style="font-size: 20px ;margin-left: 5px; width: 20px; margin-top: auto; margin-bottom: auto;">{{stars}}</span>
                <span style="margin-top: auto; margin-bottom: auto; padding-left: 5px;">{{item.titulo}}</span>
            </div>
            <div><span style="margin-left: 5px;">{{item.data}}</span></div>

            <div class="d-flex" style="margin-top: 15px;">
                <span style="padding-left: 5px; text-align: justify;">{{item.comentario}}</span>
            </div>
        </div>
    </div> -->

    <!-- Espaçamento -->
    <!-- <div style="height: 45px;"></div> -->

    <!-- Veja mais comentarios -->
    <!-- <div style="padding-left: 15px;">
        <a href="" style="font-weight: bold; font-size: 20px; color: black;">Veja mais avaliações ></a>
    </div> -->

    <!-- Espaçamento -->
    <!-- <div style="height: 45px;"></div> -->

    <!-- Espaços similares -->
    <div *ngIf="espacos && espacos.length > 0" class="row back-verde-escuro more-announcement">
        <span style="width: 100%; color: black; font-size: 20px; font-weight: bold; margin-bottom: 20px;">Mais espaços desse anunciante</span>
        <div class="d-flex w-100 flex-row back-verde-escuro flex-wrap justify-content-between">
            <app-highlight-items *ngFor="let item of espacos" [data]="item" width="240px"></app-highlight-items>
        </div>
    </div>

</div>