<div id="searchHome" class="container-fluid">
    <form>
    <div class="row d-flex justify-content-end" style="padding-top: 70px; padding-bottom: 70px;">
        <div class="col-md"></div>
        <!-- Search -->
        <div class="col d-flex justify-content-start align-items-center flex-column" style="z-index: 2;  margin-left: 5px; margin-right: 5px;">
            <div class="w-100" style="padding-bottom: 10px;">
                <span style="font-weight: bold; font-size: 35px; text-align: start;" class="title">Seu negócio livre para evoluir!</span>
            </div>
            <!-- Bairro ou Cidade -->
            <div class="w-100 buscaCidade">
                <input #bairro type="text" name="city" list="cityname" placeholder="Bairro">
                <datalist id="cityname">
                   <option [value]="option" *ngFor="let option of options"> 
                </datalist>
                <button (click)="search(bairro.value)">Buscar</button>
            </div>
            <!-- Filtros -->
            <!-- <div class="w-100 filtros" style="margin-top: 15px"> -->
                <!-- <input type="date" name="entrada" placeholder="Entrada"> -->
                <!-- <input type="date" name="saida" placeholder="Saída">
                <input type="text" name="pessoas" placeholder="Pessoas"> -->
                <!-- <button>Buscar</button> -->
            <!-- </div> -->
            <div class="w-100" style="margin-top: 15px;">
                <span style="font-weight: 500;">A liberdade de usar o espaço quando quiser e por quanto <br> 
                    tempo precisar. Sem barreiras para o seu crescimento. <br>
                    O espaço certo pra sua necessidade, seja trabalho, descanso,<br>
                    estudo ou diversão. Você escolhe!</span>
            </div>
        </div>

        <!-- Img EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE -->
        <img src="assets/imgs/home/e-min.png" style="position: absolute; z-index: 1; height: 500px;" alt="">
    </div>
    </form>
</div>
