<mat-tab-group mat-align-tabs="center">
     <mat-tab label="Anúncios">
        <filter-pageable-table
            [data]="data"
            [tableColumns]="tableColumns"
            [displayedColumns]="displayedColumns"
            [actions]="actions"
            [pager]="pager"
            [formFields]="formFields"
            (visualizar)="visualizarDetalhesAlugavel($event)"
            (pageEvent)="pagerEvent($event)"
            (filterChanges)="onFilterChanges($event)"></filter-pageable-table>
    </mat-tab>
    <mat-tab label="Tipos">
        <lista-tipos-alugaveis></lista-tipos-alugaveis>
    </mat-tab>
    <mat-tab label="Caracteristicas">
        <lista-caracteristicas-alugaveis></lista-caracteristicas-alugaveis>
    </mat-tab>
    <mat-tab label="Documentos">
        <lista-tipos-documentos></lista-tipos-documentos>
    </mat-tab>
</mat-tab-group>