<mat-tab-group class="w-100 myTabGroup" mat-align-tabs="center">
    <mat-tab [label]="'Aprovados '+espacos_aprovado.length">
        <div style="margin: 10px" class="d-flex flex-row flex-wrap justify-content-start">
            <mat-card class="myCard" routerLink="/user/anuncios/criaranuncio" style="margin: 5px">
                <div class="d-flex h-100 align-items-center justify-content-center flex-column">
                    <mat-icon>add</mat-icon>
                    <span>Adicionar um espaço</span>  
                </div>
            </mat-card>

        </div>
    </mat-tab>
    <mat-tab [label]="'Em avaliação '+ espacos_em_avaliaco.length" style="margin-bottom: 10px;"> Content 2 </mat-tab>
    <mat-tab [label]="'Reprovados '+ espacos_reprovados.length" style="margin-bottom: 10px;"> Content 3 </mat-tab>
</mat-tab-group>
