<div id="find" class="container">
    <div class="content">
        <div class="row">
            <div class="col">
                <h4>DIVULGUE E ADMINISTRE VOCÊ MESMO OS SEUS PRODUTOS</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-2">
                <div style="border: 1px solid white; height: 100%; text-align: center; display: flex;">
                    <span>Localização</span>
                </div>
            </div>
        </div>
        <div class="row">
    
        </div>
    </div>
</div>
