@import '../../../../../place-et-theme.scss';

.content{
    // padding-bottom: 50px;
    padding-top: 100px;
    overflow: hidden;
    background: linear-gradient( to top, $pl-verde-escuro 33.25%, #ffffff 33.25%);
    border-radius: 0 0 0 100px;
    width: 100%;
}

.description{
    width: 200px;
    margin: auto 100px;
}

.btn{
    border-radius: 10px;
    height: 45px;
    width: 190px;
    font-weight: bold;
}

.btn-ofertas-preto{
    background-color: $pl-preto;
    color: white;
}

.btn-ofertas-verde{
    background: linear-gradient( to right, #00fd00, #00ffab);
}

.highlightCards{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 510px;
    overflow: hidden;
    // width: 100%;
    app-highlight-items{
        padding: 5px;
    }
}

.highlightInfo{
    margin-bottom: 30px;
    max-width: 270px;
}

@media all and (min-width: 1470px){
    #highlight{
        .row{
           margin-right: 100px; 
        }

        .highlightInfo{
            margin-left: 100px;
        }
        .highlightCards{
            width: 70%;
        }
    }
}

@media not all and (min-width: 1470px){
    #highlight{
        .row{
           margin-right: 30px; 
        }

        .highlightInfo{
            margin-left: 30px;
        }
        .highlightCards{
            width: 100%;
        }
    }
}

@media (max-width: 426px){
    #highlight{
        .row{
           margin-right: 0; 
        }

        .highlightInfo{
            margin-left: auto;
            margin-right: auto; 
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        
    }
}