<div class="d-flex flex-row flex-wrap" *ngIf="rooms && rooms.length > 0">
  <div class="mx-2 mb-4" style="max-width: 250px;">
      <h4 class="font-weight-bold">Escolha onde trabalhar!</h4>
      <br>
      <p>Mesas compartilhadas com serviços que facilitam sua vida.</p>
      <br>
      <button class="btn btn-dark btn-lg" routerLink="/search">Ver mais ofertas</button>
  </div>
  <div class="d-flex flex-row justify-content-around flex-wrap overflow-hidden">
      <app-highlight-items [data]="room" *ngFor="let room of rooms"></app-highlight-items>
  </div>
</div>
