<div class="d-flex flex-wrap flex-row justify-content-around"
    *ngIf="favoritos && favoritos.length > 0; else emptyFavorito">
    <div style="margin: 5px; position: relative;" *ngFor="let favorito of favoritos">
        <button type="button" mat-mini-fab color="warn" (click)="removerFavoritos(favorito.id)"
            style="position: absolute; top: 5px; right: 5px; z-index: 99;">
            <mat-icon>close</mat-icon>
        </button>
        <card-item-alugavel [data]="favorito">
        </card-item-alugavel>
    </div>
</div>
<ng-template #emptyFavorito>
    <empty-page-message [message]="'Não há espaços salvo.'" [classIcone]="'fa-floppy-o'"></empty-page-message>
</ng-template>