<ul class="d-flex align-items-center justify-content-center social-menu m-0 p-0" [class.flex-column]="columnMode">
    <li class="p-2 d-flex justify-content-center">
        <div>
            <a href="https://www.youtube.com/channel/UCeseYreNBZEnCSeGCxwSr3g" target="_blank">
                <i class="fa fa-youtube-play"></i>
            </a>
        </div>
    </li>
    <li class="p-2 d-flex justify-content-center">
        <a href="https://www.facebook.com/Placeet-Servi%C3%A7os-Digitais-101746731492537" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li class="p-2 d-flex justify-content-center">
        <a href="https://www.instagram.com/placeet_" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </li>
    <li class="p-2 d-flex justify-content-center">
        <a href="https://www.linkedin.com/company/placeet-servi%C3%A7os-digitais" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>
</ul>
