<mat-vertical-stepper [linear]="false" #stepper>
	<mat-step [stepControl]="informacoesForm && imgsForm">
		<form [formGroup]="informacoesForm">
			<ng-template matStepLabel>Informações</ng-template>
			<div class="row">
				<div class="col-sm">
					<mat-form-field appearance="standard" class="w-100">
						<mat-label>Título</mat-label>
						<input
							matInput
							formControlName="titulo"
							autocomplete="off"
							placeholder="Ex: Escritório Urbano"
							minlength="1"
							maxlength="40" />
					</mat-form-field>
				</div>
				<div class="col-sm">
					<mat-form-field appearance="standard" class="w-100">
						<mat-label>Categoria</mat-label>
						<mat-select formControlName="tipo_id" [disabled]="editMode">
							<mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nome}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm">
					<mat-form-field appearance="standard" class="w-100">
						<mat-label>Quantidade máxima de reservas simultâneas</mat-label>
						<input matInput formControlName="qtd_maxima_reservas" min="1" type="number" step="1"/>
					</mat-form-field>
				</div>

				<div class="col-sm">
					<mat-form-field appearance="standard" class="w-100">
						<mat-label>Público Alvo</mat-label>
						<mat-select formControlName="publico_alvo" multiple>
						  <mat-option *ngFor="let pubAlvo of publicoAlvo" [value]="pubAlvo.id">{{pubAlvo.nome}}</mat-option>
						</mat-select>
					  </mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Descrição</mat-label>
							<textarea maxlength="500"
								matInput cdkTextareaAutosize
								#autosize="cdkTextareaAutosize"
								formControlName="descricao"
								[cdkAutosizeMinRows]="3"
								[cdkAutosizeMaxRows]="8">
							</textarea>
					</mat-form-field> 
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm">
					<dropzone
						[url]="sendImgsUrl"
						[deleteUrl]="deleteImgUrl"
						[files]="imgs"
						[idObjectPath]="'img.id'"
						[listFileTypes]="imgsTypes"
						(data)="bindingFormField('imgs', imgsForm, $event)"
						[data]="imgsForm.controls['imgs'].value"></dropzone>
				</div>
			</div>
			<div class="d-flex justify-content-end mt-2">
				<button mat-raised-button color="primary" matStepperNext [disabled]="informacoesForm.invalid || imgsForm.invalid">Próximo</button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="caracteristicasForm">
		<ng-template matStepLabel>Características</ng-template>
		<div class="row">
			<ng-container *ngFor="let caracteristica of caracteristicas">
				<div *ngIf="caracteristica.tipo_campo.tipo !== 'binario' && caracteristica.tipo_campo.tipo !== 'intervalo'" class="col-sm">
					<ng-container [ngSwitch]="caracteristica.tipo_campo.tipo" [formGroup]="caracteristicasForm">
						<mat-form-field *ngSwitchCase="'numerico'" appearance="standard" class="w-100">
							<mat-label>{{ caracteristica.nome }}</mat-label>
							<input matInput [formControlName]="caracteristica.id" autocomplete="off" type="number" />
						</mat-form-field>
						
						<mat-form-field *ngSwitchCase="'texto_simples'" appearance="standard" class="w-100">
							<mat-label>{{ caracteristica.nome }}</mat-label>
							<input matInput [formControlName]="caracteristica.id" autocomplete="off" type="text" />
						</mat-form-field>
	
						<mat-form-field *ngSwitchCase="'selecao'" appearance="standard" class="w-100">
							<mat-label>{{ caracteristica.nome }}</mat-label>
							<mat-select [formControlName]="caracteristica.id" [multiple]="caracteristica.tipo_campo.propriedades.multiple">
								<mat-option *ngFor="let possibilidade of caracteristica.tipo_campo.propriedades.possibilidades" [value]="possibilidade.id">{{possibilidade.valor}}</mat-option>
							</mat-select>
						</mat-form-field>
					</ng-container>
				</div>
			</ng-container>
		</div>

		<ng-container *ngFor="let caracteristica of caracteristicas">
			<ng-container *ngIf="caracteristica.tipo_campo.tipo === 'intervalo'">
				<div class="row my-2">
					<div class="col" [formGroup]="caracteristicasForm">
						<mat-label class="mb-2">{{ caracteristica.nome }}</mat-label>
						<mat-slider
							min="0"
							thumbLabel
							class="w-100"
							tickInterval="1"
							[formControlName]="caracteristica.id"
							[max]="caracteristica.tipo_campo.propriedades.max"
							[step]="caracteristica.tipo_campo.propriedades.step"
							[standard]="caracteristica.tipo_campo.propriedades.standard"></mat-slider>
					</div>
				</div>
			</ng-container>
		</ng-container>

		<ng-container *ngFor="let caracteristica of caracteristicas">
			<ng-container *ngIf="caracteristica.tipo_campo.tipo === 'binario'">
				<div class="row">
					<div class="col-sm" [formGroup]="caracteristicasForm">
						<mat-checkbox [formControlName]="caracteristica.id">{{ caracteristica.nome }}</mat-checkbox>
					</div>
				</div>
			</ng-container>
		</ng-container>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="standard" class="w-100">
					<mat-label>Informação adicional</mat-label>
					<div class="d-flex">
						<input
							#infoAdicional
							matInput
							autocomplete="off"
							type="text"
							placeholder="Proibido fumar"
							(keyup.enter)="addInfo(infoAdicional.value); infoAdicional.value = ''"
							required />
						<button
							mat-icon-button
							color="primary"
							(click)="addInfo(infoAdicional.value); infoAdicional.value = ''"
							[disabled]="!infoAdicional.value">
							<mat-icon matSuffix>add</mat-icon>
						</button>
					</div>
				</mat-form-field>
			</div>
		</div>

		<ng-container *ngIf="infoAdicionais.length">
			<div class="row" *ngFor="let info of infoAdicionais; let i = index">
				<div class="col">
					<mat-form-field appearance="standard" class="w-100">
						<div class="d-flex">
							<input matInput [value]="info.descricao" type="text" readonly />
							<button
								mat-icon-button
								color="warn"
								(click)="removeInfo(i)">
								<mat-icon matSuffix>clear</mat-icon>
							</button>
						</div>
					</mat-form-field>
				</div>
			</div>
		</ng-container>

		<div class="d-flex justify-content-between mt-2">
			<button mat-raised-button matStepperPrevious>Voltar</button>
			<button mat-raised-button color="primary" matStepperNext [disabled]="caracteristicasForm.invalid">Próximo</button>
		</div>
	</mat-step>

	<mat-step [stepControl]="documentosForm">
		<form [formGroup]="documentosForm">
			<ng-template matStepLabel>Documentos</ng-template>
			<div class="row justify-content-center">
				<div class="col-10">
					<mat-form-field appearance="standard" class="w-100">
						<mat-label>Você é o proprietário do objeto de anúncio ?</mat-label>
						<mat-select formControlName="proprietario" required>
							<mat-option [value]="true">Sim</mat-option>
							<mat-option [value]="false">Não</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<ng-container *ngIf="documentosForm.controls['proprietario'].value !== null">
				<div class="row justify-content-center"
					*ngIf="(documentosForm.controls['proprietario'].value && userService.user_data.pessoa_juridica) || !documentosForm.controls['proprietario'].value">
					<div class="col-10">
						<mat-slide-toggle formControlName="pessoajuridica">Usar dados de pessoa jurídica.</mat-slide-toggle>
					</div>
				</div>
	
				<ng-container *ngIf="!documentosForm.controls['proprietario'].value">
					<div class="row" *ngIf="documentosForm.controls['pessoajuridica'].value; else PessoaFisica">
						<div class="col-sm">
							<mat-form-field appearance="standard" class="w-100" [formGroup]="documentosForm.controls['cadastro_terceiro']">
								<mat-label>CNPJ</mat-label>
								<input
									matInput
									maxlength="18"
									autocomplete="off"
									formControlName="cnpj"
									(input)="formatField('cnpj', documentosForm.get('cadastro_terceiro'), formatCNPJ)" />
							</mat-form-field>
						</div>
						<div class="col-sm">
							<mat-form-field appearance="standard" class="w-100" [formGroup]="documentosForm.controls['cadastro_terceiro']">
								<mat-label>Razão Social</mat-label>
								<input
									formControlName="razao_social"
									matInput autocomplete="off" />
							</mat-form-field>
						</div>
					</div>
		
					<form-endereco
						(formChange)="documentosForm.get('cadastro_terceiro')['controls']['local'] = $event"
						[original_form]="documentosForm.controls['cadastro_terceiro']"
						[showMap]="false"></form-endereco>
				</ng-container>
	
				<ng-template #PessoaFisica>
					<div class="row">
						<div class="col-sm">
							<mat-form-field appearance="standard" class="w-100" [formGroup]="documentosForm.controls['cadastro_terceiro']">
								<mat-label>CPF</mat-label>
								<input
									matInput
									maxlength="14"
									autocomplete="off"
									formControlName="cpf"
									(input)="formatField('cpf', documentosForm.get('cadastro_terceiro'), formatCPF)" />
							</mat-form-field>
						</div>
						<div class="col-sm">
							<mat-form-field appearance="standard" class="w-100" [formGroup]="documentosForm.controls['cadastro_terceiro']">
								<mat-label>Nome</mat-label>
								<input
									matInput
									formControlName="nome"
									autocomplete="off" />
							</mat-form-field>
						</div>
					</div>
				</ng-template>

				<div class="row mt-2" *ngIf="documentos.length">
					<div class="col">
						<h4 class="text-center">Nós envie os documentos abaixo</h4>
					</div>
				</div>
				
				<ng-container *ngFor="let documento of documentos">
					<div class="row mb-2" *ngIf="!documento.exclusivo_locatario || !(documentosForm.controls['proprietario'].value && documento.exclusivo_locatario)">
						<div class="col">
							<dropzone
								[url]="sendDocsUrl"
								[label]="documento.nome"
								[single]="true"
								[files]="documento.files"
								[canDelete]="false"
								[listFileTypes]="docsTypes"
								[customFields]="[{ fieldName: 'tipo_alugavel_documento_id', value: documento.id }]"
								(data)="bindingFormField(documento.id, documentosForm, $event)"></dropzone>

								<a class="my-2" *ngIf="documento.url_arq_exemplo" [href]="documento.url_arq_exemplo" target="_blank" download>Arquivo de exemplo</a>
							</div>
					</div>
				</ng-container>
				
				<div class="row">
					<div class="col">
						<mat-checkbox
							formControlName="aceite_condicoes" required>
								Estou ciente que na falta de algum(ns) documento(s) devo enviá-lo(s) no prazo de 30 dias.
						</mat-checkbox>
					</div>
				</div>
			</ng-container>

			<div class="d-flex justify-content-between mt-2">
				<button mat-raised-button matStepperPrevious>Voltar</button>
				<button
					color="primary"
					matStepperNext
					mat-raised-button
					[disabled]="documentosForm.invalid">Próximo</button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="enderecoForm">
		<ng-template matStepLabel>Endereço</ng-template>
		<form-endereco
			[original_form]="enderecoForm"
			(formChange)="enderecoForm = $event"></form-endereco>
		<div class="d-flex justify-content-between mt-2">
			<button mat-raised-button matStepperPrevious>Voltar</button>
			<button mat-raised-button color="primary" matStepperNext [disabled]="enderecoForm.invalid">Próximo</button>
		</div>
	</mat-step>

	<mat-step [stepControl]="valoresForm">
		<form [formGroup]="valoresForm">
			<ng-template matStepLabel>Preços e Taxas</ng-template>
				<div class="row">
					<div class="col-lg">
						<div class="row">
							<div class="col-sm">
								<mat-form-field appearance="standard" class="w-100">
									<mat-label>Custo por dia</mat-label>
									<input
										formControlName="valor"
										matInput placeholder="R$ 100"
										autocomplete="off"
										(input)="formatField('valor', valoresForm, formatFieldMoneyValue)"
										[required]="!valoresForm.controls['valor_mes'].value" />
								</mat-form-field>
							</div>
							<div class="col-sm">
								<mat-form-field appearance="standard" class="w-100">
									<mat-label>Custo por mês</mat-label>
									<input
										formControlName="valor_mes"
										matInput placeholder="R$ 1000"
										autocomplete="off"
										(input)="formatField('valor_mes', valoresForm, formatFieldMoneyValue)"
										[required]="!valoresForm.controls['valor'].value" />
								</mat-form-field>
							</div>
						</div>
							<div class="row">
								<div class="col-sm">
									<h4 class="font-weight-bold">Sobre a taxa</h4>
									<p class="text-center">Uma taxa de {{maxTax}}% sempre será cobrada, selecione a porcentagem que será visualizada pelo locatário. Caso opte por 0%, ela estará totalmente embutida no valor da diária ou do mensal.</p>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm">
									<div class="d-flex flex-row justify-content-between">
										<div *ngFor="let tax of thumbsTaxs; last as isLast" class="d-flex flex-row">
											<span>{{tax}}%</span>
										</div>
									</div>
									<mat-slider
										min="0"
										[max]="maxTax"
										[step]="maxTax/2"
										tickInterval="1"
										class="w-100"
										formControlName="taxa">
									</mat-slider>
								</div>
							</div>
					</div>
					<div class="col-lg">
						<div class="row">
							<div class="col-sm">
								<h2 class="text-center">Simulação de valores</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<reserva-card
									[taxaMaxima]="maxTax"
									[simulateMode]="true"
									[valorDiaria]="desformatMoneyValue(valoresForm.controls['valor'].value)"
									[valorMensal]="desformatMoneyValue(valoresForm.controls['valor_mes'].value)"
									[taxa]="valoresForm.controls['taxa'].value"
									[qtd_maxima_reservas]="informacoesForm.controls['qtd_maxima_reservas'].value">
								</reserva-card>
							</div>
						</div>
					</div>
			</div>
			<div *ngIf="!isSending" class="d-flex mt-2 justify-content-between">
				<button type="button" mat-raised-button matStepperPrevious>Voltar</button>
				<button type="button" mat-raised-button color="primary" (click)="editMode? update() : save()" 
					[disabled]="
						informacoesForm.invalid || imgsForm.invalid ||
						caracteristicasForm.invalid || documentosForm.invalid ||
						enderecoForm.invalid || valoresForm.invalid">{{ editMode? 'Atualizar' : 'Publicar' }}</button>
			</div>

			<div *ngIf="isSending" class="mt-2 d-flex justify-content-center">
				<mat-spinner></mat-spinner>
			</div>
		</form>
	</mat-step>
</mat-vertical-stepper>