<mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="informacoesForm">
        <form [formGroup]="informacoesForm">
            <ng-template matStepLabel>Informações</ng-template>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Título</mat-label>
                        <input formControlName="titulo" matInput placeholder="Ex: Escritório Urbano" minlength="1" maxlength="40" />
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="tipo">
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label style="font-size: 15px;">Descrição</mat-label>
                        <textarea maxlength="500"
                            matInput cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            formControlName="descricao"
                            [cdkAutosizeMinRows]="3"
                            [cdkAutosizeMaxRows]="8">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm">
                    <h2>Em construçao...</h2>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Características</ng-template>
      <div class="row">
          <div class="col-sm">
              <h2>Em construçao...</h2>
          </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="enderecoForm">
        <form [formGroup]="enderecoForm">
            <ng-template matStepLabel>Endereço</ng-template>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>CEP</mat-label>
                        <input formControlName="cep" matInput placeholder="xx.xxx.xxx" maxlength="10" />
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Rua</mat-label>
                        <input formControlName="rua" matInput placeholder="Avenida Paulista" minlength="1" maxlength="200" />
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Número</mat-label>
                        <input formControlName="numero" matInput placeholder="Ex: Escritório Urbano" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Bairro</mat-label>
                        <input formControlName="bairro" matInput placeholder="Setor Bueno" minlength="1" maxlength="200" />
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Complemento</mat-label>
                        <input formControlName="complemento" matInput placeholder="Bloco, apartamento..." minlength="1" maxlength="250" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Estado</mat-label>
                        <input formControlName="estado" matInput placeholder="Goiás" minlength="1" maxlength="200" />
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Cdidade</mat-label>
                        <input formControlName="cidade" matInput placeholder="Goiânia" minlength="1" maxlength="200" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <maps></maps>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="documentosForm">
        <form [formGroup]="documentosForm">
            <ng-template matStepLabel>Documentos</ng-template>
            <div class="row justify-content-center">
                <div class="col-10">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Você é o proprietário do espaço ?</mat-label>
                        <mat-select formControlName="proprietario" matInput required>
                            <mat-option value="true">Sim</mat-option>
                            <mat-option value="false">Não</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>Em construçao...</h2>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="valoresForm">
        <form [formGroup]="valoresForm">
            <ng-template matStepLabel>Preços e Taxas</ng-template>
            <div class="row">
                <div class="col-lg">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Custo por dia</mat-label>
                                <input formControlName="valor" matInput placeholder="R$ 100" (input)="formatField('valor', valoresForm, formatMoneyValue)" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Custo por mês</mat-label>
                                <input formControlName="valor_mes" matInput placeholder="R$ 1000" (input)="formatField('valor_mes', valoresForm, formatMoneyValue)" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h4 class="font-weight-bold">Sobre a taxa</h4>
                            <p>Uma taxa de {{maxTax}}% sempre será cobrada, selecione a porcentagem que será visualizada pelo locatário. Caso opte por 0%, ela estará totalmente embutida no valor da diária ou do mensal.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="d-flex flex-row justify-content-between">
                                <div *ngFor="let tax of thumbsTaxs; last as isLast" class="d-flex flex-row">
                                    <span>{{tax}}%</span>
                                </div>
                            </div>
                            <mat-slider
                                min="0"
                                [max]="maxTax"
                                [step]="maxTax/2"
                                tickInterval="1"
                                class="w-100"
                                formControlName="taxa">
                            </mat-slider>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <reserva-card></reserva-card>
                </div>
            </div>
        </form>
    </mat-step>
  </mat-vertical-stepper>