<form [formGroup]="filters"
  class="mw-100 mx-4 mt-2 d-flex flex-wrap justify-content-around">
  <ng-container *ngFor="let field of formFields">
    <ng-container [ngSwitch]="field.type">
      <mat-form-field *ngSwitchCase="'select'" appearance="standard" class="mx-1">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.nome_campo">
          <mat-option *ngIf="field.resetOption">Nenhuma das opções</mat-option>
          <mat-option *ngFor="let option of field.options; let i = index" [value]="option.value">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'text'" appearance="standard" class="mx-1">
        <mat-form-field appearance="standard" class="mx-1">
          <mat-label>{{ field.label }}</mat-label>
          <input [formControlName]="field.nome_campo" matInput [placeholder]="field.placeholder">
          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
        </mat-form-field>
      </mat-form-field>
    </ng-container>
  </ng-container>
</form>

<pageable-table
  [data]="data"
  [tableColumns]="tableColumns"
  [displayedColumns]="displayedColumns"
  [actions]="actions"
  [pager]="pager"
  (visualizar)="emitEvent(viewEvent, $event)"
  (deletar)="emitEvent(deleteEvent, $event)"
  (editar)="emitEvent(editEvent, $event)"
  (pageEvent)="emitPageEvent($event)"></pageable-table>