<ng-sidebar-container class="min-vh-100">
    <ng-sidebar #sidebar id="sidebar" [opened]="sidenavOpened">
        <mat-icon style="top: 5px; right: 10px;" class="cursor-pointer position-absolute"
            (click)="toggleSideMenu()">close</mat-icon>
        <img routerLink="/home" class="cursor-pointer my-4 d-block" style="outline: none;"
            src="assets/imgs/logo/logo_preta.svg" (click)="toggleSideMenu()">
        <sidemenu (action)="toggleSideMenu()" [redesSociaisColumnMode]="false"></sidemenu>
    </ng-sidebar>

    <div ng-sidebar-content>
        <nav #nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" routerLink="/home">
                <img class="logo d-block" src="assets/imgs/logo/logo_preta.svg">
            </a>
            <button
                class="navbar-toggler"
                type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation" (click)="toggleSideMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" (click)="comoFunciona()">Como Funciona</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                        target="_blank"
                        href="https://api.whatsapp.com/send?phone=556296611324&text=Ol%C3%A1%20gostaria%20de%20tirar%20uma%20duvida!'">Ajuda</a>
                    </li>
                </ul>

                <div>
                    <button
                        class="btn btn-outline-success my-2 my-sm-0"
                        type="button" [ngbPopover]="popContent"
                        container="body"
                        triggers="manual" placement="bottom-left"
                        #p="ngbPopover" (click)="openModalOrOpenPopover(p)">
                        {{ login.logged_status ? "Minha conta" : "Entrar" }}
                    </button>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <app-feedback-button *ngIf="userService.user_data != undefined"></app-feedback-button>
    </div>
</ng-sidebar-container>

<ng-template #popContent>
    <div id="popover">
      <mat-list>
        <mat-list-item class="list-item" (click)="goTo('/user/conta/info')">
          <span class="font-weight-bold">Minha Conta</span>
        </mat-list-item>
        <mat-list-item class="list-item" (click)="goTo('/user/espacossalvos')">
          <span class="font-weight-bold">Salvos</span>
        </mat-list-item>
        <mat-list-item class="list-item" (click)="goTo('/user/alugueis')">
          <span class="font-weight-bold">Aluguéis</span>
        </mat-list-item>
        <mat-list-item class="list-item" (click)="goTo('/user/anuncios/meusanuncios')">
          <span class="font-weight-bold">Anúncios</span>
        </mat-list-item>
        <mat-list-item (click)="this.login.logoutServer()">
          <span class="text-danger">Sair</span>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-template>