nav {
    box-shadow: 0 8px 6px -6px #ccc;
}

nav img.logo {
    width: 20vw;
    min-width: 150px;
    max-width: 300px;
}

.nav-link {
    font-size: .8rem !important;
}

::ng-deep .ng-sidebar {
    z-index: 5 !important;
    background-color: white;
    padding: 0 2rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .5);
}