nav img.logo {
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
}

a.nav-link img {
    max-width: 25px;
    max-height: 25px;
}

::ng-deep .ng-sidebar {
    z-index: 5 !important;
    background-color: white;
    padding: 0 2rem;
    box-shadow: 0 0 .9rem rgba(0, 0, 0, .5);
}