<ng-sidebar-container class="min-vh-100">
    <ng-sidebar #sidebar id="sidebar" [opened]="sidenavOpened">
        <mat-icon style="top: 5px; right: 10px;" class="cursor-pointer position-absolute"
            (click)="toggleSideMenu()">close</mat-icon>
        <img routerLink="/home" class="cursor-pointer my-4 d-block" style="outline: none;"
            src="assets/imgs/logo/logo_preta.svg">
        <sidemenu (action)="toggleSideMenu()"></sidemenu>
    </ng-sidebar>

    <div ng-sidebar-content>
        <nav #nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
            <a class="navbar-brand" routerLink="/home">
                <img class="logo d-block" src="assets/imgs/logo/logo_preta.svg">
            </a>
            <button
                class="navbar-toggler"
                type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation" (click)="toggleSideMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end social-menu">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/channel/UCeseYreNBZEnCSeGCxwSr3g" target="_blank">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Placeet-Servi%C3%A7os-Digitais-101746731492537" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/placeet_" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/placeet-servi%C3%A7os-digitais" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-block d-md-flex mt-5">
            <sidemenu class="ml-3 d-none d-md-block"></sidemenu>
            <div class="flex-fill">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
        <app-feedback-button *ngIf="userService.user_data != undefined"></app-feedback-button>
    </div>
</ng-sidebar-container>