<form [formGroup]="original_form">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard" class="w-100">
                <mat-label>Tipo de Pergunta</mat-label>
                <mat-select formControlName="tipo_campo" matNativeControl>
                    <mat-option *ngFor="let tipo of tipos_campo" [value]="tipo">{{tipo | uppercase}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-xl" *ngFor="let field of propriedadesFields">
            <ng-container [ngSwitch]="field.type" [formGroup]="propriedadesForm">
                <mat-checkbox *ngSwitchCase="'boolean'" [formControlName]="field.name">{{ field.label }}</mat-checkbox>
                
                <mat-form-field *ngSwitchCase="'number'" appearance="standard" class="w-100">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput [formControlName]="field.name" autocomplete="off" [type]="field.type" />
                </mat-form-field>
            
                <mat-form-field *ngSwitchCase="'text'" appearance="standard" class="w-100">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput [formControlName]="field.name" autocomplete="off" [type]="field.type" />
                </mat-form-field>
            </ng-container>
        </div>
    </div>
    <div *ngIf="fieldForm.controls['tipo_campo'].value.toLowerCase() === TIPOS_CAMPOS.SELECAO.nome">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Valor possível para seleção</mat-label>
                    <input #possibilidade matInput autocomplete="off" type="text" required />
                    <mat-icon class="cursor-pointer" [ngClass]="{ 'enabled':possibilidade.value, 'disabled': !possibilidade.value }" matSuffix (click)="adicionarPossibilidade(possibilidade.value); possibilidade.value = ''">add</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
    <ng-container *ngIf="fieldForm.controls['tipo_campo'].value.toLowerCase() === TIPOS_CAMPOS.SELECAO.nome && possibilidades && possibilidades.length">
        <div class="row" *ngFor="let possibilidade of possibilidades; let i = index">
            <div class="col">
                <mat-form-field appearance="standard" class="w-100">
                    <input matInput [value]="possibilidade.valor" type="text" readonly />
                    <mat-icon class="cursor-pointer text-danger" (click)="removePossibilidade(i)" matSuffix>clear</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </ng-container>
</form>
