<footer class="bg-dark text-white page-footer font-small black pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <div class="col-md-3 mt-md-3 my-4">
                <div class="align-items-center justify-content-center">
                    <img src="assets/imgs/logo/logo_branco-min.png" style="width: 175px;">
                </div>
            </div>

            <div class="col-md-4">
                <h5 class="text-uppercase font-weight-bold">Sobre</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let politica of politicas">
                        <a [href]="'/about/' + politica.sluq">{{ politica.nome }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md">
                <h5 class="text-uppercase font-weight-bold">Atendimento</h5>
                <ul class="list-unstyled">
                    <li>
                        <a target="_blank"
                            href="https://api.whatsapp.com/send?phone=556296611324&text=Ol%C3%A1%20gostaria%20de%20tirar%20uma%20duvida!">
                            Dúvidas e reclamações</a>
                    </li>
                    <li class="cursor-pointer">
                        <a *ngIf="userService.user_data" (click)="openFeedback()">Feedback</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 mb-md-0 mb-2">

                <div class="row mb-2 d-flex justify-content-center">
                    <a
                        class="mr-1 d-flex" style="font-size: .9rem;"
                        href="https://www.youtube.com/channel/UCeseYreNBZEnCSeGCxwSr3g" target="_blank">
                        <i style="color:white;" class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>

                    <a class="mr-1" href="https://www.facebook.com/Placeet-Servi%C3%A7os-Digitais-101746731492537" target="_blank">
                        <img class="img-footer" src="assets/svg/facebook.svg" />
                    </a>
                    
                    <a class="mr-1" href="https://www.linkedin.com/company/placeet-servi%C3%A7os-digitais" target="_blank">
                        <img class="img-footer" src="assets/svg/linkedin.svg" />
                    </a>
                    
                    <a class="mr-1" href="https://www.instagram.com/placeet_" target="_blank">
                        <img class="img-footer" src="assets/svg/instagram.svg" />
                    </a>
                </div>

                <div class="row mb-1 d-flex justify-content-center">
                    <span class="text-center">PLACEET SERVICOS DIGITAIS LTDA</span>
                </div>

                <div class="row mb-1 d-flex justify-content-center">
                    <span class="text-center">CNPJ 37.364.562/0001-24</span>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center py-1" style="color: grey;">
        <span>2020 © Placeet - Todos os direitos reservados</span>
        <p class="text-center">
            Ao se cadastrar você aceita os Termos de Uso e a Política de Privacidade
        </p>
        <p class="text-center text-white">
            <span>Feito com amor</span>
            <svg width=".5rem" height=".5rem" viewBox="0 0 16 16" class="bi bi-heart-fill iconHeart mx-1" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            <span class="font-weight-bold">Goiânia, Brasil</span>
        </p>
    </div>
</footer>