@import '../../../../place-et-theme.scss';

a, span.link, a:hover, span.link:hover {
    color: $pl-verde-escuro;
}

a:hover, span.link:hover {
    text-decoration: underline;
}

.img-footer {
    width: 20px;
    height: 20px;
}

.iconHeart {
    color: $pl-verde-escuro;
}