<div class="container-fluid" id="footer">
    <div class="row" style="height: 100%; display: flex; align-content: center; justify-content: center;">
        <div class="col-3 d-flex flex-row align-items-center justify-content-center">
            <img src="assets/imgs/logo/logo_branco1x.png" style="width: 190px;">
        </div>
        <div class="col-2">
            <div class="row">
                <a href="">Politica de uso</a>
            </div>
            <div class="row">
                <a href="">Politica de segurança</a>
            </div>
            <div class="row">
                <a href="">Politica de privacidade</a>
            </div>
            <div class="row">
                <a href="">Politica de cancelamento</a>
            </div>
            <div class="row">
                <a href="">Empresa</a>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <span style="font-size: 15px; color: white">Descubra</span>
            </div>
            <div class="row">
                <a href="">Noticias</a>
            </div>
            <div class="row">
                <a href="">Como anunciar</a>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <span style="font-size: 15px; color: white">Atendimento</span>
            </div>
            <div class="row">
                <a href="">Ajuda</a>
            </div>
            <div class="row">
                <a href="">Feedback</a>
            </div>
            <div class="row">
                <a href="">Deixe sua sugestão</a>
            </div>
        </div>
        <div class="col-3 d-flex flex-row align-items-center">
            <img src="../../../../assets/svg/facebook.svg" style="height: 24px; padding-right: 25px;">
            <img src="../../../../assets/svg/linkedin.svg" style="height: 24px; padding-right: 25px;">
            <img src="../../../../assets/svg/instagram.svg" style="height: 24px; padding-right: 25px;">
        </div>
    </div>
</div>