@import '../../../../place-et-theme.scss';

a, a:hover {
    color: $pl-verde-escuro;
}

a:hover {
    text-decoration: underline;
}

.social {
    text-align: center;   
}

.social .span{
    padding: 0 4px;
}

.social .span .a {
    width: 80px;
    height: 80px;
    line-height: 30px;
}

.social .span .a .img {
    width: 20px;
    height: 20px;
}   