@import '../../../../../../place-et-theme.scss';

.myCard{
    height: 300px; 
    width: 300px;
    margin: 5px;
    cursor: pointer;
}

.myCard:hover{
    transition: linear 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    color: $pl-verde-escuro;
    -webkit-box-shadow: 0px 0px 5px 1px $pl-verde-escuro;
    -moz-box-shadow: 0px 0px 5px 1px $pl-verde-escuro;
    box-shadow: 0px 0px 5px 1px $pl-verde-escuro;   
}

.form-control:focus {
    border-color: $pl-verde-escuro;
    box-shadow: none;
    border-width: 2px;
} 

.checkmark{
    width: 200px;
    color: $pl-verde-escuro;
}

.inputDocumentoEspaco{
    background-image: url('/assets/svg/documento_espaco_amarelo.svg');
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    height: 250px;
    cursor: pointer;
}

.inputDocumentoEspaco > input{
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.inputDocumentoEspaco:hover{
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 5px;
}

.inputDocumentoEspaco > label{
    text-align: center;
}

.inputDocumentoProprietario{
    background-image: url('/assets/svg/cnh_amarelo.svg');
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    height: 250px;
    cursor: pointer;
}

.inputDocumentoProprietario:hover{
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 5px;
}

.inputDocumentoProprietario > input{
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.inputDocumentoProprietario > label{
    text-align: center;
}

.politicas{
    max-height: 500px; 
    overflow: scroll; 
    overflow-x: hidden;
}

.customThumb{
    position: relative;
    bottom: -5px;
}

.taxaInfo{
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    padding-top: 10px;

    border-top: 1px solid $pl-gray;
    
    .taxaInfoTitle{
        font-size: 17px;
        font-weight: 500;
    }

    .taxaInfoText{
        font-size: 15px;
        color: gray;
    }
}

.simulacao{
    display: flex;
    flex-direction: column;
    
    .simulacaoTitle{
        font-size: 18px;
        font-weight: 500;
    }

    .simulacaoValores{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span{
            font-size: 15px;
            color: gray;
        }
    }

    .simulacaoTotal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span{
            font-size: 17px;
            font-weight: 500;
        }
    }
}

.simulacaoDia{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid $pl-gray;
    border-top: 1px solid $pl-gray;

}