<mat-horizontal-stepper [linear]="false"  #stepper>

    <mat-step>
        <ng-template matStepLabel style="word-wrap: break-word;">Termos de responsabilidade</ng-template>
        <div class="w-100 d-flex justify-content-end" style="margin-bottom: 15px; margin-top: 5px;">
            <button mat-button mat-raised-button matStepperNext color="primary">Aceitar e prosseguir</button>
        </div>
        <div class="d-flex justify-content-center align-content-center">
            <app-md-viewer class="w-100" style="height: 500px; overflow: auto;" [source]="politica_de_uso"></app-md-viewer>
            <!-- <iframe class="w-100" style="height: 500px;" src="/about/politica_de_uso.md?hideHeader=true&hideFooter=true#markdown" frameborder="0"></iframe> -->
        </div>
    </mat-step>

    <!-- Dados cadastrais -->
    <mat-step [stepControl]='dados_cadastrais'>
        <form [formGroup]='dados_cadastrais'>
            <ng-template matStepLabel>Dados cadastrais</ng-template>
            <div style="height: 30px;"></div>
            <div class="d-flex flex-column w-100">
                <span class="w-100 text-center" style="margin-bottom: 5px;">Informações sobre o espaço</span>
                <mat-form-field appearance="outline">
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="titulo" placeholder="Ex: Escritório Urbano">
                    <mat-error>Preencha o campo corretamente</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option *ngFor="let tipo of categorias" [value]="tipo.nome">{{tipo.nome}}</mat-option>
                    </mat-select>
                    <mat-error>Selecione uma categoria</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label style="font-size: 15px;">Descrição. Limite 500 caracteres.</mat-label>
                    <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="5"
                            formControlName="descricao"
                            maxlength="500">
                    </textarea>
                    <mat-error>Preencha o campo corretamente</mat-error>
                </mat-form-field>

                <!-- Endereço -->
                <span class="w-100 text-center" style="margin-bottom: 5px;">Endereço</span>
                <div class="w-100 d-flex flex-row flex-wrap"> 
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>CEP</mat-label>
                        <input matInput formControlName="cep"
                            (keyup)="formatarNumerio('cep')" (blur)="validarCep()" maxlength="8">
                        <mat-error *ngIf="cep.hasError('notfound')">CEP não encontrado</mat-error>
                        <mat-error *ngIf="!cep.hasError('notfound')">Preencha o campo corretamente</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Rua</mat-label>
                        <input matInput formControlName="rua">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Complemento</mat-label>
                        <input matInput formControlName="complemento">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-25">
                        <mat-label>Numero</mat-label>
                        <input matInput formControlName="numero">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-75">
                        <mat-label>Bairro</mat-label>
                        <input matInput formControlName="bairro">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado" [disabled]="estados == undefined" (selectionChange)="loadDistritoByEstado()" matInput>
                            <mat-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Cidade</mat-label>
                        <mat-select formControlName="cidade" [disabled]="distritos == undefined" matInput>
                            <mat-option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Documentos -->
                <span class="w-100 text-center" style="margin-bottom: 5px;">Documentos do espaço</span>
                <div class="w-100 d-flex flex-row flex-wrap">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Você é o proprietário do espaço ?</mat-label>
                        <mat-select formControlName="proprietario" matInput>
                            <mat-option value="true">Sim</mat-option>
                            <mat-option value="false">Não</mat-option>
                          </mat-select>
                    </mat-form-field>

                    <span class="w-100 text-left" style="margin-top: 5px;">Escritura pública ou contrato de alienação</span>
                    <div class="w-100 input-group">
                        <div class="custom-file">
                            <input type="file" required class="custom-file-input" 
                                id="escritura" formControlName='escritura' (change)="fileChange($event, 'escritura')">
                            <label class="custom-file-label" for="escritura" aria-describedby="escrituraAddon0">
                                {{ escritura.value.split('\\')[2] || 'Escolha um arquivo PDF ou Imagem' }} 
                            </label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="escrituraAddon0">Upload</span>
                        </div>
                    </div>

                    <div class="w-100 input-group" *ngIf="proprietario.value == 'false'">
                        <span class="w-100 text-left" style="margin-top: 5px;">Contrato de locação</span>
                        <div class="custom-file">
                            <input type="file" [required]="proprietario.value == 'false'" (change)="fileChange($event, 'contrato_locacao')"
                                class="custom-file-input" id="contrato_locacao" formControlName='contrato_locacao'>
                            <label class="custom-file-label" for="contrato_locacao" aria-describedby="contrato_locacaoAddon0">
                                {{contrato_locacao.value.split('\\')[2] || 'Escolha um arquivo PDF ou Imagem'}}
                            </label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="contrato_locacaoAddon0">Upload</span>
                        </div>
                    </div>

                    <div class="w-100 input-group" *ngIf="proprietario.value == 'false'">
                        <span class="w-100 text-left" style="margin-top: 5px;">Documento com foto e CPF do proprietário</span>
                        <div class="custom-file">
                            <input type="file" [required]="proprietario.value == 'false'" (change)="fileChange($event, 'documento_proprietario')"
                                class="custom-file-input" id="documento_proprietario" formControlName='documento_proprietario'>
                            <label class="custom-file-label" for="documento_proprietario" 
                                aria-describedby="documento_proprietarioAddon0">
                                {{documento_proprietario.value.split('\\')[2] || 'Escolha um arquivo PDF ou Imagem' }}
                            </label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="documento_proprietarioAddon0">Upload</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="w-100 d-flex justify-content-end" style="margin-bottom: 15px; margin-top: 15px;">
                <button mat-button mat-raised-button (click)="nextStep(stepper)" color="primary">Prosseguir</button>
            </div>
        </form>
    </mat-step>

    <!-- Caracteristicas do espaço -->
    <mat-step [stepControl]='caracteristicas_espaco'>
        <form [formGroup]='caracteristicas_espaco'>
            <ng-template matStepLabel style="word-wrap: break-word;">Características do espaço</ng-template>

            <div class="w-100 d-flex flex-row flex-wrap">
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Área do espaço</mat-label>
                    <input matInput formControlName="area" placeholder="m²">
                    <mat-error>Preencha o campo corretamente</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Vagas de estacionamento</mat-label>
                    <input matInput formControlName="vagas" placeholder="Quantidade">
                    <mat-error>Preencha o campo corretamente</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Internet</mat-label>
                    <mat-select matInput formControlName='internet'>
                        <mat-option value='true'>Sim</mat-option>
                        <mat-option value='false'>Não</mat-option>
                    </mat-select>
                    <mat-error>Preencha o campo corretamente</mat-error>
                </mat-form-field>

                <div class="w-100 input-group mb-3">
                    <span class="w-100 text-left" style="margin-top: 5px;">Informações adicionais</span>
                    <div class="custom-file">
                        <input formControlName="info_text" placeholder="Ex.: Proibido fumar" class="form-control">
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text alert-success" type="button" (click)="addInfo()">Adicionar</button>    
                    </div>
                </div>
                <div class="w-50 input-group mb-3" *ngFor="let control of info.controls; index as i">
                    <div class="custom-file">
                        <input [formControl]='info.controls[i]' class="form-control">
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text alert-danger" type="button" (click)="removeInfo(i)">Remover</button>    
                    </div>
                </div>

                

            </div>

        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel style="word-wrap: break-word;">Preço e taxa</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel style="word-wrap: break-word;">Finalizar!</ng-template>
    </mat-step>
</mat-horizontal-stepper>