<mat-table [dataSource]="perguntas">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="selectQuestion(element)"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pergunta">
        <mat-header-cell *matHeaderCellDef> Pergunta </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="selectQuestion(element)">{{element.pergunta}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deletar(element.id)">Deletar</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div id="cards-container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Nova Pergunta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createForm" (ngSubmit)="saveQuestion()">
                <mat-form-field appearance="outline">
                    <mat-label>Pergunta</mat-label>
                    <input formControlName="pergunta" matInput placeholder="Pergunta">
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="createForm.invalid ||createForm.pristine">Criar</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="pergunta" class="card">
        <mat-card-header>
            <mat-card-title>Editar Pergunta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="editForm" (ngSubmit)="editQuestion()">
                <mat-form-field appearance="outline">
                    <mat-label>Pergunta</mat-label>
                    <input matInput formControlName="pergunta" placeholder="Pergunta">
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid || editForm.pristine">Atualizar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
