<basic-table
    [data]="data"
    [tableColumns]="tableColumns"
    [displayedColumns]="displayedColumns"
    [actions]="actions"
    (editar)="select($event)"></basic-table>

<div id="cards-container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Nova Caracteristica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createForm" (ngSubmit)="create()">
                <mat-form-field appearance="legacy">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Nome" required>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Icone</mat-label>
                    <mat-select formControlName="icone">
                        <mat-option value="">Sem icone</mat-option>
                        <mat-option *ngFor="let icone of icones" value="{{ icone.nome }}">
                            {{ icone.nome }}
                            <img *ngIf="!icone.material" [src]="'assets/svg/' + icone.nome" width="35" height="35" />
                            <span *ngIf="icone.material" class="material-icons">{{ icone.nome }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="createForm.invalid ||createForm.pristine">Criar</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="caracteristica" class="card">
        <mat-card-header>
            <mat-card-title>Editar Caracteristica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="editForm" (ngSubmit)="update()">
                <mat-form-field appearance="legacy">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" placeholder="Nome" required>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Icones</mat-label>
                    <mat-select formControlName="icone">
                        <mat-option value="">Sem icone</mat-option>
                        <mat-option *ngFor="let icone of icones" value="{{ icone.nome }}">
                            {{ icone.nome }}
                            <img *ngIf="!icone.material" [src]="'assets/svg/' + icone.nome" width="35" height="35" />
                            <span *ngIf="icone.material" class="material-icons">{{ icone.nome }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid || editForm.pristine">Atualizar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>