@import '../../../../../../place-et-theme.scss';

.custom-input {
    height: 50px;
    color: $pl-amarelo;
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 7px;
    border: 1px solid $pl-gray;
    outline: none;
    text-align: center;
    font-size: .7rem;
}

.custom-input:focus {
    border-color: $pl-verde-escuro;
}

.custom-input::placeholder {
    color: black;
    text-transform: uppercase;
}

