<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="pr-1">
    <div class="row">
        <div class="col">
            <span class="font-weight-bold">LOCALIZAÇÃO</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <mat-form-field appearance="standard" class="w-100">
                <input type="text" matInput formControlName="location" [matAutocomplete]="auto"
                    placeholder="Busque por bairro Ex: Marista" maxlength="40">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{ option }}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span class="font-weight-bold">TIPO DE SERVIÇO</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <mat-form-field appearance="standard" class="w-100">
                <mat-select formControlName="tipo" placeholder="Busque por tipo de anúncio">
                    <mat-option>Todos</mat-option>
                    <mat-option *ngFor="let tipo of tiposServico" [value]="tipo.id">{{ tipo.nome }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row pl-1 mb-1">
        <div class="col">
            <span class="font-weight-bold">VALOR</span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col pr-0">
            <input
                formControlName="minValue"
                type="text"
                placeholder="mín"
                class="custom-input w-100"
                maxlength="10" (keyup)="checkText('minValue')" />
        </div>
        <div class="col">
            <input
                formControlName="maxValue"
                type="text"
                placeholder="máx" 
                class="custom-input w-100"
                maxlength="10" (keyup)="checkText('maxValue')" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button
                mat-raised-button
                type="button"
                class="w-100"
                (click)="clearFilters()">Limpar</button>
        </div>
        <div class="col">
            <button
                mat-raised-button
                color="primary"
                class="w-100"
                type="submit">Aplicar</button>
        </div>
    </div>

    <div style="padding-top: 15px; padding-bottom: 20px;" class="d-flex flex-row justify-content-between">
        <div class="d-flex justify-content-start align-items-center">
            
        </div>
        <div class="d-flex justify-content-end">
            
        </div>
    </div>
</form>