mat-table {
    margin: 15px;
}

mat-cell.action-row {
    display: flex;
    justify-content: flex-end;
}

#form-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

button.danger {
    background-color: red;
    color: white;
    margin-left: 10px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    opacity: 0.5;
    border-radius: 50%;
    background: #ccc;
    padding: 40px;
    text-decoration: none;
    color: #000;
    text-align: center;
  }