@import '../../../place-et-theme.scss';

.card-table {
    margin: 20px;
}

.spanValor{
    font-size: 22px;
    font-weight: 500;
}

.spanPaypal{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    font-size: 20px;
    color: #797979;
}

.politicas{
    max-height: 500px; 
    overflow: scroll; 
    overflow-x: hidden;
}