<mat-horizontal-stepper [linear]="true" #stepper class="mt-5" style="min-height: 90vh">
    <mat-step style="padding: 10px;">
        <ng-template matStepLabel>Confirmar dados</ng-template>
        <div class="row">
            <div class="col-sm">
                <div class="cardContent">
                    <div class="d-flex flex-row flex-wrap header">
                        <div class="d-flex flex-column">
                            <span class="titulo">{{checkoutService.reserva.anuncio.titulo}}</span>
                            <span class="content">
                                {{checkoutService.reserva.anuncio.local.rua}},
                                {{checkoutService.reserva.anuncio.local.numero ? checkoutService.reserva.anuncio.local.numero : ''}}
                                {{checkoutService.reserva.anuncio.local.bairro}}
                                {{checkoutService.reserva.anuncio.local.complemento != '' ? ', ' + checkoutService.reserva.anuncio.local.complemento:''}}
                            </span>
                        </div>
                        <div style="margin-left: 10px;" class="cardImg">
                            <img class="mat-elevation-z4" [src]=" backUrl + '/imgs/' + checkoutService.reserva.anuncio.imagens[0].url">
                        </div>
                    </div>

                    <reserva-card class="mt-2"
                        [taxaMaxima]="checkoutService.reserva.max_taxa"
                        [valorDiaria]="checkoutService.reserva.anuncio.valor"
                        [valorMensal]="checkoutService.reserva.anuncio.valor_mes"
                        [taxa]="checkoutService.reserva.anuncio.taxa"
                        [readOnly]="true"
                        [readInterval]="{
                            entrada: checkoutService.reserva.interval.entrada,
                            saida: checkoutService.reserva.interval.saida }"></reserva-card>

                    <div class="cardAviso">
                        <span class="cardAvisoTitulo">Prazo de aceite.</span>
                        <span class="cardAvisoTexto">O Locador tem um prazo de 24horas para confirmar a reserva. Após o
                            aceite, entre em contato com o locador.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="mat-elevation-z4 mapa">
                    <maps class="h-100"
                        [lngLatPlace]="{ latitude: checkoutService.reserva.anuncio.local.latitude, longitude: checkoutService.reserva.anuncio.local.longitude }"
                        [static]="true"></maps>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button mat-button mat-raised-button matStepperNext color="primary">Confirmar e prosseguir</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Pagar e Finalizar!</ng-template>
        <!-- <div class="d-flex justify-content-center">
            <mat-card class="mat-elevation-z4 card-table" class="w-50">
                <mat-card-title>
                    <div class="d-flex justify-content-center w-100">
                        <img src="assets/imgs/paypal/PP_logo_h_150x38.png">
                    </div>
                </mat-card-title>
                <mat-card-content class="d-flex flex-column flex-wrap">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <mat-icon color="primary">credit_card</mat-icon>
                            <span class="spanPaypal">Parcelamento</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <mat-icon color="primary">security</mat-icon>
                            <span class="spanPaypal">Máxima proteção com PayPal</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <mat-icon color="primary">airplanemode_active</mat-icon>
                            <span class="spanPaypal">Acumule milhas</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center w-100" style="margin-top: 10px;">
                        <div class="w-100" #paypal></div>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                        <img src="assets/imgs/paypal/cc-badges-ppppcmcvdam.png">
                    </div>
                </mat-card-content>
            </mat-card>
        </div> -->
    </mat-step>
</mat-horizontal-stepper>