nav{
    
    a{
        color: #362d2a !important;
        font-size: 30px;
    }
    span{
        color: rgb(68, 68, 68) !important;
        font-weight: bold;
        font-size: 18px;
    }

    font-size: 22px;
    background: none;
    position: fixed;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky{

    background-image: linear-gradient(to left, #6efc75, #0afebf);
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.buttons-menu{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .buttons{
        font-size: 20px;
        // width: ;
    }
}

li{
    margin: 0 5px 0 5px;
    span{
        border-bottom: 2px solid #ffffff00;
    }
}

.show li{
    border-bottom: none;
}

.collapsing li{
    border-bottom: none;
}

.highlight{
    border-bottom: 2px solid white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.356);
} 
