<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">PlaceEt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto my-dropdown" id='contentNav'>
        <li class="nav-item" *ngFor="let item of menu" (mouseover)="mouse_over($event)" (mouseout)="mouse_out($event)">
          <span class="nav-link">{{ item }}</span>
        </li>
        <li class="nav-item" (click)="doLogin()" (mouseover)="mouse_over($event)" (mouseout)="mouse_out($event)">
            <span class="nav-link">{{ login.logged_status ? 'Logado' : 'Entrar' }}</span>
        </li>
      </ul>
    </div>
  </nav>