<nav class="navbar navbar-expand-lg fixed-top container" style="min-width: 85%;">
    <div class="title" style="height: 80px; margin: -16px auto auto -16px">
      <h4>placeet</h4>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto my-dropdown" id='contentNav'>
        <li class="nav-item" *ngFor="let item of menu" (mouseover)="mouse_over($event)" (mouseout)="mouse_out($event)">
          <span class="nav-link">{{ item }}</span>
        </li>
        <li class="nav-item" (click)="doLogin()" (mouseover)="mouse_over($event)" (mouseout)="mouse_out($event)">
            <button class="btn btn-entrar">{{ login.logged_status ? login.user_data.firstName : 'Entrar' }}</button>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height: 72px;"></div>