<mat-table class="mat-elevation-z2 mx-4 mb-2" [dataSource]="data">
    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef> {{ column.columnHeaderName }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ column.formatFunction? column.formatFunction(Typy(row, column.objectProperty).safeObject) : Typy(row, column.objectProperty).safeObject}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-flex justify-content-around">
            <button
                *ngIf="actions.visualizar"
                mat-icon-button
                (click)="emitEvent(viewEvent, row[attributeId])">
                <mat-icon>visibility</mat-icon>
            </button>
            <button
                *ngIf="actions.editar"
                mat-icon-button color="primary"
                (click)="emitEvent(editEvent, row[attributeId])">
                <mat-icon>create</mat-icon>
            </button>
            <button
                *ngIf="actions.excluir"
                mat-icon-button color="warn"
                (click)="emitEvent(deleteEvent, row[attributeId])">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
