<ng-container *ngIf="documentos.length; else emptyDocuments">

</ng-container>
<div class="row my-2 mr-1" *ngFor="let documento of documentos">
  <div class="col-xl">
    <dropzone class="w-100"
      [url]="sendDocsUrl"
      [label]="documento.nome"
      [single]="true"
      [customFields]="[{ fieldName: 'documento_id', value: documento.id }]"
      [files]="documento.files"
      [listFileTypes]="docsTypes"
      [canDelete]="false"></dropzone>
  </div>
</div>

<ng-template #emptyDocuments>
  <empty-page-message [classIcone]="'fa-file-o'" [message]="'Não há documentos pessoais'"></empty-page-message>
</ng-template>