@import '../../../../../place-et-theme.scss';

#searchBox{

    // Global
    width: 330px;
    min-height: 375px;
    background-color: $pl-amarelo;
    border-radius: 20px;
    // position: fixed;
    padding: 30px 20px 15px 20px;
    

    .row{

        // padding-top: 10px;
        // padding-bottom: 10px;
    }

    // Titulos
    span{

        color: white;
        font-size: 16px;
    }

    // Localização

    .inputCidade{
        
        color: white;
        font-size: 14px;
        background-color: $pl-amarelo;
        border: none;
        padding-bottom: 6px;
        border-bottom: 2px solid white;
        width: 100%;   
    }

    .inputCidade::placeholder{
        font-size: 14px;
        color: white;
    }

    .inputCidade:focus{
        outline: none;
    }

    // Tipo de serviço
    .dropdown{
        
        .dropdown-toggle{

            width: 100%;
            text-align: start;
            background-color: $pl-amarelo;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid white;
            color: white;
            font-size: 14px;
            padding-left: 0;
        }
        
        .dropdown-toggle:focus{
            outline: none;
            box-shadow: none;
        }
    }

    .dropdown-toggle::after{
        float: right;
        font-size: 20px;
        margin-top: 8px;
    }

    // Valor
    #searchBoxValue{

        .btn{

            height: 45px;
            color: $pl-amarelo;
            background-color: white;
            padding-right: 5px;
            padding-left: 5px;
            border-radius: 7px;
        }

        input::placeholder{

            color: $pl-amarelo;
            text-transform: uppercase;
            font-size: 14px;
        }

        .btn:focus{

            outline: 0;
            box-shadow: none;
            // border: 0;
        }
    }

    // Área
    #searchBoxArea{

        .btn{

            height: 45px;
            color: $pl-amarelo;
            background-color: white;
            padding-right: 5px;
            padding-left: 5px;
            border-radius: 7px;
        }

        input::placeholder{

            color: $pl-amarelo;
            text-transform: uppercase;
            font-size: 14px;
        }

        .btn:focus{

            outline: 0;
            box-shadow: none;
            // border: 0;
        }
    }

    // Limpar e aplicar filtro.
    .limpar{
        width: 100%;
        border-radius: 7px;
        border: 2px solid #00000046;
        color: #0000009c;
        background-color: $pl-amarelo;
        
        
    }

    .limpar:hover{
        background-color: #ce9615;
    }

    .limpar:focus{
        outline: 0;
        box-shadow: none;
    }

    .submit{
        width: 100%;
        border-radius: 7px;
        border: 2px solid white;
        color: white;
        background-color: $pl-amarelo;
    }

    .submit:hover{
        background-color: #ce9615;
    }

    .submit:focus{
        outline: 0;
        box-shadow: none;
    }

}

