<div class="content" id="highlight">
    <div class="row">
        <div class="col-3">
            <div class="highlightInfo">
                <h4> A melhor forma de trabalhase sem altos custos</h4>
                <br>
                <p>Trabalhar sossegado no espaço que você quiser e economiznado</p>
                <br>
                <button class="btn btn-success">Ver mais ofertas</button>
            </div>
        </div>
        <div class="{{cardClass}} highlightCards" [id]='i' *ngFor="let space of spaces let i=index">
            <app-highlight-items
                [local]="space.local"
                [description]="space.description"
                [image]="space.image"
                [cost]="space.cost"
                [tax]="space.tax"
                [rank]="space.rank"
                [customId]="i"
            ></app-highlight-items>
        </div>
    </div>
</div>