<mat-card *ngIf="aluguel">
    <mat-card-title>

        <!--locador-->
        <div *ngIf="aluguel.locador">
            <div class="d-flex flex-row justify-content-around">
                <span style="font-size: 16px;">Locador</span>
            </div>

            <div class="d-flex flex-row justify-content-around">
                <img-circular [firstLetter]="aluguel.locador.nome[0]" [imgUrl]="aluguel.locador.img_perfil">
                </img-circular>
                <div class="d-flex flex-column flex-wrap title">
                    <span class="content">{{ aluguel.locador.nome }} {{ aluguel.locador.sobrenome }}</span>
                    <div class="d-flex flex-row">
                        <span class="content">{{ aluguel.locador.numero_1 }}</span>
                        <span class="content" style="padding-left: 5px;">{{ aluguel.locador.numero_2 }}</span>
                    </div>
                    <span class="content">{{ aluguel.locador.email }}</span>
                </div>
            </div>

        </div>

        <!--/locador-->

        <!--locatario-->
        <div *ngIf="aluguel.locatario">
            <div class="d-flex flex-row justify-content-around">
                <span style="font-size: 16px;">Locatário</span>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <img-circular [firstLetter]="aluguel.locatario.nome[0]" [imgUrl]="aluguel.locatario.img_perfil">
                </img-circular>
                <div class="flex-column title">
                    <span class="content">{{ aluguel.locatario.nome }} {{ aluguel.locatario.sobrenome }}</span>
                    <div class="d-flex flex-row">
                        <span class="content">{{ aluguel.locatario.numero_1 }}</span>
                        <span class="content" style="padding-left: 5px;">{{ aluguel.locatario.numero_2 }}</span>
                    </div>

                    <span class="content">{{ aluguel.locatario.email }}</span>
                </div>
            </div>
        </div>
        <!--/locatario-->
    </mat-card-title>
    <hr>
    <mat-card-content>
                
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column flex-wrap data">
                <span class="itemTitle">{{aluguel.alugavel.titulo+":"}}</span>
                <a id="link" class="content" [routerLink]="['/spaces/' + aluguel.alugavel.id]">Ver anúncio</a>
            </div>



            <div class="d-flex flex-column flex-wrap data">
                <span class="itemTitle">Localização:</span>
                <a id="link" class="content" target="_blank"
                    [href]="'https://www.google.com/maps/search/?api=1&query='+aluguel.alugavel.local.latitude+','+aluguel.alugavel.local.longitude">Ver
                    no mapa</a>
            </div>
        </div>

        <div class="endereco">

            <!-- <span class="content">
                {{aluguel.alugavel.local.rua}},
                {{aluguel.alugavel.local.numero ? aluguel.alugavel.local.numero : ''}}
                {{aluguel.alugavel.local.bairro}}
                {{aluguel.alugavel.local.complemento != '' ? ', ' + aluguel.alugavel.local.complemento:''}}
            </span>
            <span class="content">{{aluguel.alugavel.local.cidade}} - {{aluguel.alugavel.local.estado}}</span>
            -->
        </div>

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column flex-wrap data">
                <span class="itemTitle">Data do Contrato:</span>
                <span class="content">{{aluguel.data_criacao | date: 'longDate'}}</span>
            </div>

            <div class="d-flex flex-column flex-wrap data">
                <span class="itemTitle">Valor total:</span>
                <span class="content">R$ {{aluguel.valor}}</span>
            </div>
        </div>

        <div style="height: 10px;"></div>

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column flex-wrap data">
                <span class="itemTitle">Data de entrada:</span>
                <span class="content">{{aluguel.dias_reservados.data_entrada | date: 'longDate'}}</span>
            </div>
            <div class="d-flex flex-column flex-wrap data">
                <span class="itemTitle">Data de saída:</span>
                <span class="content">{{aluguel.dias_reservados.data_saida | date: 'longDate'}}</span>
            </div>
        </div>

        <div style="height: 10px;"></div>

    </mat-card-content>
    <mat-card-actions class="mb-0">
        <button mat-raised-button class="danger" *ngIf="aluguel.status !== ALUGUEL_STATUS.CANCELED.value"
            (click)="cancelContract()">Cancelar</button>
        <button mat-raised-button color="primary"
            *ngIf="aluguel.status === ALUGUEL_STATUS.ACTIVE.value && aluguel.locador && !aluguel.checkin"
            (click)="makeCheckin()">Check In</button>
        <button mat-raised-button color="primary"
            *ngIf="aluguel.status === ALUGUEL_STATUS.ACTIVE.value && aluguel.locatario && aluguel.checkin === true">Confirmar
            check in</button>
        <button mat-raised-button color="primary"
            *ngIf="aluguel.status === ALUGUEL_STATUS.CREATED.value && aluguel.locatario"
            (click)="acceptContract()">Aceitar</button>
    </mat-card-actions>
</mat-card>