@import '../../../../place-et-theme.scss';

.cardTitle{
    span{
        font-size: 15px;
    }
    a{
        font-size: 12px;
        padding-left: 5px;
    }
}

.endereco{
    margin-bottom: 5px;
    .titulo{
        span{
            font-size: 18px;
        }
        a{
            font-size: 12px;
            padding-left: 5px;
        }
    }
    .content{
        font-size: 16px;
    }
}

.data{
    width: 170px;
    margin-bottom: 5px;
    .content{
        font-size: 16px;
    }
    #link{
        color: #00ffab;
    }
}

.imgPerfilLetter {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00ffab;
    font-size: 35px;
    
    margin-bottom: 15px;
}

.imgPerfil {
    margin-bottom: 15px;
    img {
        width: 100%;
        height: 100%;
    }
}


.title{
    display: flex;
    margin-top: 15px;
    .content{
        font-weight: normal;
        font-size: 15px;
        text-align: start;
        
    }
}

.itemTitle{
    color: gray;
    font-size: 13px;
}
