<basic-table
  [data]="data"
  [tableColumns]="tableColumns"
  [displayedColumns]="displayedColumns"
  [actions]="actions"
  (visualizar)="visualizar($event)"
  (deletar)="deletar($event)"
  (editar)="edit($event)"></basic-table>

<div id="cards-container">
    <mat-card *ngIf="!politica;" class="card">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title style="font-size: 18px;">Nova Política</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="saveForm" (ngSubmit)="create()">
                <mat-form-field appearance="legacy">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Nome" required />
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Arquivo</mat-label>
                    <input #fileInput style="display: none;" type="file" autocomplete="off" (change)="changeFileSelected($event)" />
                    <input formControlName="arquivo" matInput placeholder="Selecionar" (click)="fileInput.click()" required autocomplete="off"/>
                </mat-form-field>
                <div class="d-flex justify-content-center">
                    <button *ngIf="!isLoading; else loading" mat-flat-button color="primary" type="submit" [disabled]="saveForm.invalid || saveForm.pristine">Criar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="politica;" class="card">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title style="font-size: 18px;">Atualizar Política</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="editForm" (ngSubmit)="update()">
                <mat-form-field appearance="legacy">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Nome" required />
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Arquivo</mat-label>
                    <input #fileInput style="display: none;" type="file" (change)="updateFileSelected($event)" />
                    <input formControlName="arquivo" matInput placeholder="Selecionar" (click)="fileInput.click()" required />
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Versão</mat-label>
                    <input formControlName="versao" matInput placeholder="Versão" required />
                </mat-form-field>

                <div>
                    <mat-checkbox formControlName="aprovado">Aprovado</mat-checkbox>
                </div>

                <div *ngIf="!isLoading; else loading" class="d-flex justify-content-around">
                    <button  mat-flat-button (click)="cancelar()" >Cancelar</button>
                    <button  mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid || editForm.pristine">Atualizar</button>
                </div>

                
            </form>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>