<mat-card>
    <div id="img-perfil">{{ userService.user_data.nome[0] }}</div>
    <button *ngIf="selectedFile?.name" (click)="updateNewImage()">Enviar</button>
    <mat-card-title>Dados Pessoais</mat-card-title>
    <mat-card-content>
        <form [formGroup]="editInfoForm" (ngSubmit)="actionInfoForm()">
            <table>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput value="{{ userService.user_data.nome + ' ' + userService.user_data.sobrenome}}" readonly />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Data Nascimento</mat-label>
                        <input matInput value="{{ dataNascimento }}" readonly />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput value="{{ userService.user_data.email }}" readonly />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>CPF</mat-label>
                        <input formControlName="cpf" matInput value="" placeholder="Opcional" />
                    </mat-form-field>
                </td>
            </table>
            <table>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone 1</mat-label>
                        <input matInput formControlName="numero_1" required />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone 2</mat-label>
                        <input matInput formControlName="numero_2" placeholder="Opcional" />
                    </mat-form-field>
                </td>
            </table>
            <button mat-raised-button color="primary" type="submit" [disabled]="editInfoForm.invalid || editInfoForm.pristine">Atualizar</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Dados Bancários</mat-card-title>
    <mat-card-content>
        <form [formGroup]="editBankAccountForm" (ngSubmit)="actionBankAccountForm()">
            <table>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Banco</mat-label>
                        <input matInput formControlName="banco" required />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <input matInput formControlName="tipo" required />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Agência</mat-label>
                        <input matInput formControlName="agencia" required />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Número da conta</mat-label>
                        <input matInput formControlName="numero" required />
                    </mat-form-field>
                </td>
            </table>
            <button mat-raised-button color="primary" type="submit" [disabled]="editBankAccountForm.invalid || editBankAccountForm.pristine">Atualizar dados Bancários</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="documentos && documentos.length > 0">
    <mat-card-title>Documentos Pessoais</mat-card-title>
    <mat-card-subtitle>Documentos que faltam para finalizar o cadastro</mat-card-subtitle>
    <mat-card-content>
        <table mat-table [dataSource]="documentos">
            <ng-container matColumnDef="Nome">
                <th mat-header-cell *matHeaderCellDef>Documento</th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="Arquivo">
                <th mat-header-cell *matHeaderCellDef>Arquivo</th>
                <td mat-cell *matCellDef="let element">{{ element.arquivo }}</td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <input #fileInput style="display: none;" type="file" (change)="updateDocument($event, element)">
                    <button mat-button color="primary" (click)="fileInput.click()">Enviar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>