#img-perfil {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00ffab;
    font-size: 35px;
    font-weight: bold;
}

.card-table {
    margin: 20px;
}