<basic-table
    [data]="data"
    [tableColumns]="tableColumns"
    [displayedColumns]="displayedColumns"
    [actions]="actions"
    (deletar)="deletar($event)"
    (editar)="select($event)"></basic-table>

<div id="cards-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Novo Tipo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createForm" (ngSubmit)="create()">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input formControlName="nome" matInput placeholder="Nome">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Icone</mat-label>
            <mat-select formControlName="icone">
              <mat-option *ngFor="let icone of icones" [value]="icone">
                <div class="d-flex flex-row">
                  <img [src]="'assets/imgs/header/' + icone" width="35" height="35">
                  <span class="w-100 text-center">{{ icone }}</span>
                </div>
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input formControlName="descricao" matInput type="text" placeholder="Descrição" maxlength="256">
          <mat-hint>Descrição utilizada para criar o produto na PayPal</mat-hint>
        </mat-form-field>
    
        <div>
            <mat-checkbox formControlName="disponivel">Disponível</mat-checkbox>
        </div>
        <button mat-flat-button color="primary" type="submit" [disabled]="createForm.invalid || createForm.pristine">Criar</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="tipo" class="example-card">
    <mat-card-header>
      <mat-card-title>Editar Tipo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="editForm" (ngSubmit)="update()">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Nome" required>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Icone</mat-label>
            <mat-select formControlName="icone" required>
              <mat-option *ngFor="let icone of icones" [value]="icone">
                <div class="d-flex flex-row">
                  <img [src]="'assets/imgs/header/' + icone" width="35" height="35">
                  <span style="width: 100%; text-align: center;">{{ icone }}</span>
                </div>
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input formControlName="descricao" matInput type="text" placeholder="Descrição" maxlength="256">
          <mat-hint>Descrição utilizada para criar o produto na PayPal</mat-hint>
        </mat-form-field>
    
        <div>
            <mat-checkbox formControlName="disponivel">Disponível</mat-checkbox>
        </div>
        <button mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid || editForm.pristine">Atualizar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>