<mat-tab-group mat-align-tabs="center" *ngIf="userService.user_data; else loading">
	<mat-tab>
		<ng-template mat-tab-label>
			<span matBadge="!" matBadgeColor="warn" matBadgeOverlap="false" [matBadgeHidden]="editInfoForm.valid">Dados
				Pessoais</span>
		</ng-template>

		<div
			class="alert alert-danger d-flex flex-column rounded p-2 my-2 mx-1 mat-elevation-z2"
			*ngIf="userService.user_data?.status_cadastro == 'disapproved'">
			<span class="font-weight-bold">Infelizmente seu cadastro não foi aprovado.</span>
			<span><b>Motivo: </b>{{userService.user_data.observacao}}</span>
		</div>
		
		<div
			class="alert alert-warning d-flex flex-column rounded mat-elevation-z2 p-2 my-2 mx-1"
			*ngIf="userService.user_data?.status_cadastro === 'waiting'">
			<span class="font-weight-bold">Cadastro em análise.</span>
		</div>

		<mat-card class="my-2 mat-elevation-z2">
			<div class="d-flex align-items-center justify-content-center my-2">
				<img-circular class="d-inline-block" [firstLetter]="userService.user_data.nome[0]" [imgUrl]="imgUrl"
					(click)="imgInput.click()">
				</img-circular>
				<input hidden #imgInput type="file" (change)="onFileSelected($event)">
			</div>

			<div class="row m-2">
				<div class="col d-flex align-items-center">
					<mat-divider></mat-divider>
				</div>
				<div class="col">
					<h2 class="m-0 p-0 text-center font-weight-normal" style="color: gray;">Pessoa Física</h2>
				</div>
				<div class="col d-flex align-items-center">
					<mat-divider></mat-divider>
				</div>
			</div>

			<form [formGroup]="editInfoForm" (ngSubmit)="actionInfoForm()">
				<div class="row">
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Nome</mat-label>
							<input matInput formControlName="nome" autocomplete="off" required />
						</mat-form-field>
					</div>
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Sobrenome</mat-label>
							<input matInput formControlName="sobrenome" autocomplete="off" required />
						</mat-form-field>
					</div>
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Data de nascimento</mat-label>
							<input matInput formControlName="data_nascimento" [matDatepicker]="picker" placeholder="dd/mm/yyyy"
								required />
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker startView="multi-year" #picker disabled="false"></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Email</mat-label>
							<input matInput formControlName="email" disabled="true" />
							<mat-hint *ngIf="!userService.user_data.email_validado" class="text-danger">
								E-mail ainda não verificado!</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>CPF</mat-label>
							<input #cpf formControlName="cpf" maxlength="14" matInput
								(input)="formatField('cpf', editInfoForm, formatCPF)" />
							<mat-hint *ngIf="!userService.user_data.cpf" class="text-danger">Informe o CPF.</mat-hint>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Telefone 1</mat-label>
							<input matInput formControlName="numero_1" maxlength="15"
								(input)="formatField('numero_1', editInfoForm, formatTelefone)" required />
							<mat-hint *ngIf="!userService.user_data.numero_1" class="text-danger">
								Informe o seu número de telefone.</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Telefone 2</mat-label>
							<input matInput formControlName="numero_2" maxlength="15"
								(input)="formatField('numero_2', editInfoForm, formatTelefone)" placeholder="Opcional" />
						</mat-form-field>
					</div>
				</div>

				<div class="d-flex align-items-center justify-content-center my-3">
					<button mat-raised-button color="primary" type="submit"
						[disabled]="editInfoForm.invalid || editInfoForm.pristine">Atualizar</button>
				</div>
			</form>
		</mat-card>

		<mat-card class="my-2 mat-elevation-z2">

			<div class="row m-2">
				<div class="col d-flex align-items-center">
					<mat-divider></mat-divider>
				</div>
				<div class="col">
					<h2 class="m-0 p-0 text-center font-weight-normal" style="color: gray;">Pessoa Jurídica</h2>
					<h5 class="m-0 p-0 text-center font-weight-normal" style="color: gray;">(Opcional)</h5>
				</div>
				<div class="col d-flex align-items-center">
					<mat-divider></mat-divider>
				</div>
			</div>

			<form [formGroup]="juridicForm">
				<div class="row">
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>CNPJ</mat-label>
							<input
								matInput
								formControlName="cnpj"
								autocomplete="off"
								maxlength="18"
								(input)="formatField('cnpj', juridicForm, formatCNPJ)"
								required />
						</mat-form-field>
					</div>
					<div class="col-sm">
						<mat-form-field appearance="standard" class="w-100">
							<mat-label>Razão Social</mat-label>
							<input matInput formControlName="razao_social" autocomplete="off" required />
						</mat-form-field>
					</div>
				</div>
	
				<form-endereco [showMap]="false"></form-endereco>
	
				<div class="d-flex align-items-center justify-content-center my-3">
					<button
						mat-raised-button
						color="primary"
						type="submit"
						[disabled]="juridicForm.invalid || juridicForm.pristine">Atualizar</button>
				</div>
			</form>

		</mat-card>

	</mat-tab>

	<mat-tab>
		<ng-template mat-tab-label>
			<span matBadge="!" matBadgeColor="warn" matBadgeOverlap="false"
				[matBadgeHidden]="userService.user_data.conta_bancaria">
				Dados Bancários
			</span>
		</ng-template>
		<app-dados-bancarios></app-dados-bancarios>
	</mat-tab>

	<mat-tab label="Documentos Pessoais">
		<app-doc-pessoais></app-doc-pessoais>
	</mat-tab>
</mat-tab-group>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>