

.content{
    background-color: white;
    border-radius: 15px;
    padding-top: 15px;

    .btn-reservar{
        background: linear-gradient( to right, #00fd00, #00ffab);
        width: 200px !important;
        height: 50px;
        border-radius: 15px;
        font-weight: bold;
    }
}