<mat-card>
    <mat-card-content>
        <form [formGroup]="intervalForm">
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="standard" class="w-100">
                        <mat-label>Selecione o período</mat-label>
                        <mat-date-range-input [min]="minDate" [rangePicker]="picker">
                          <input #entrada
                            matStartDate
                            disabled="true"
                            formControlName="entrada"
                            placeholder="Entrada" />
                          <input #saida
                            matEndDate
                            disabled="true"
                            placeholder="Saída"
                            formControlName="saida"
                            (dateInput)="validateRange()"/>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>

            <ng-container *ngIf="intervalForm.valid && (valorDiaria && valorMensal) && valorMensal < totalNoValorDiaria(qtdDias(), valorDiaria) && qtdDias() < 31">
                <div class="row">
                    <div class="col">
                        <p class="text-muted">Recomendamos uma reserva de mais de 30 dias</p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="intervalForm.valid && (valorDiaria || valorMensal)">
                <div class="row">
                    <div class="col">
                        <h4 class="font-weight-bold">Diárias</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            {{ formatMoneyValue(qtdDias() >= 31 && valorMensal? calcularDiaria(valorMensal / 31, taxa, taxaMaxima) : calcularDiaria(valorDiaria, taxa, taxaMaxima)) }} x
                            {{ qtdMeses()? qtdMeses() > 1? qtdMeses() + ' meses' : qtdMeses() + ' mes' : '' }} {{qtdMeses() && qtdDias() - qtdMeses() * 31? ' e ' : ''}}
                            {{ qtdDias() - qtdMeses() * 31? qtdDias() - qtdMeses() * 31 > 1? qtdDias() - qtdMeses() * 31 + ' dias' : qtdDias() - qtdMeses() * 31 + ' dia' : '' }}</p>
                    </div>
                    <div class="col">
                        <p class="text-right">{{ formatMoneyValue(qtdDias() >= 31 && valorMensal? totalNoValorMensal(qtdDias(), calcularDiaria(valorMensal, taxa, taxaMaxima)) : totalNoValorDiaria(qtdDias(),  calcularDiaria(valorDiaria, taxa, taxaMaxima))) }}</p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="intervalForm.valid && (valorDiaria || valorMensal)">
                <div class="row">
                    <div class="col">
                        <h4 class="font-weight-bold">Taxas</h4>
                    </div>
                    <div class="col">
                        <p class="text-right">{{ formatMoneyValue(totalTaxas(qtdDias(), calcularTaxa(taxaMaxima, qtdDias() >= 31 && valorMensal? valorMensal / 31 : valorDiaria))) }}</p>
                    </div>
                </div>
            </ng-container>
            <div class="row justify-content-center">
                <div class="col-8">
                    <mat-divider class="border-primary"></mat-divider>
                </div>
            </div>
            <ng-container *ngIf="intervalForm.valid && (valorDiaria || valorMensal)">
                <div class="row mt-2">
                    <div class="col">
                        <p class="font-weight-bold">Total</p>
                    </div>
                    <div class="col">
                        <p class="text-right">{{ 
                            formatMoneyValue(
                                qtdDias() >= 31 && valorMensal?
                                total(totalNoValorMensal(qtdDias(), calcularDiaria(valorMensal, taxa, taxaMaxima)), totalTaxas(qtdDias(), calcularTaxa(taxaMaxima, valorMensal / 31))):
                                total(totalNoValorDiaria(qtdDias(), calcularDiaria(valorDiaria, taxa, taxaMaxima)), totalTaxas(qtdDias(), calcularTaxa(taxaMaxima, valorDiaria))))
                        }}</p>
                    </div>
                </div>
            </ng-container>
        </form>
    </mat-card-content>
</mat-card>