<mat-card class="overflow-hidden d-flex flex-column" *ngIf="data">
    <div id="Carousel{{data.id}}" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item" [class.active]="i === 0" *ngFor="let image of data.imagens; let i= index">
                <img mat-card-image [src]="image.url" class="carouselImage">
            </div>
        </div>
        <a class="carousel-control-prev" href="#Carousel{{data.id}}"
            role="button" data-slide="prev" *ngIf="data.imagens.length">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#Carousel{{data.id}}"
            role="button" data-slide="next" *ngIf="data.imagens.length">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <mat-card-header class="cursor-pointer" (click)="goToSpace()">
        <mat-card-subtitle>{{ data.tipo.nome }}</mat-card-subtitle>
        <mat-card-title>{{ data.titulo }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="w-100 pl-1 flex-fill cursor-pointer" (click)="goToSpace()">
        <div style="display: flex; align-items: flex-end;">
            <mat-icon>location_on</mat-icon>
            <span>
                {{data.local.rua}} - {{data.local.cidade}} -
                {{data.local.estado}}
            </span>
        </div>
        <div class="d-flex flex-wrap justify-content-around mt-3">
            <ng-container *ngFor="let caracteristica of data.caracteristicas">
                <ng-container *ngIf="caracteristica.valor" [ngSwitch]="caracteristica.tipo_campo.tipo">
                    <div
                        *ngSwitchCase="TIPOS_CAMPOS.BINARIO.nome"
                        class="d-flex flex-column align-items-center justify-content-center">
                        <ion-icon [name]="caracteristica.icone"></ion-icon>
                        <p class="p-0 m-0">{{ caracteristica.nome }}</p>
                    </div>
                    
                    <div *ngSwitchCase="TIPOS_CAMPOS.NUMERICO.nome"
                        class="d-flex flex-column align-items-center justify-content-center">
                        <ion-icon [name]="caracteristica.icone"></ion-icon>
                        <p class="p-0 m-0">
                            <span>{{ caracteristica.valor }}</span>
                            <span *ngIf="caracteristica.unidade_medida">{{ caracteristica.unidade_medida }}</span>
                        </p>
                    </div>

                    <div *ngSwitchCase="TIPOS_CAMPOS.SELECAO.nome"
                        class="d-flex flex-column align-items-center justify-content-center">
                        <ion-icon [name]="caracteristica.icone"></ion-icon>
                        <p class="p-0 m-0">
                            <span>{{ caracteristica.valor }} </span>
                        </p>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </mat-card-content>

    <div class="d-flex justify-content-between py-1 px-2 cursor-pointer" (click)="goToSpace()">
        <span class="font-weight-bold">INVESTIMENTO/DIA</span>
        <ng-container [ngSwitch]="desformatMoneyValue(data.valor)">
            <span *ngSwitchCase="false">
                {{formatMoneyValue(calcularDiaria(data.valor_mes / 31, data.taxa, taxaTotal) + calcularTaxa(taxaTotal, data.valor_mes / 31))}}
            </span>
            <span *ngSwitchDefault>
                {{formatMoneyValue(calcularDiaria(data.valor, data.taxa, taxaTotal) + calcularTaxa(taxaTotal, data.valor))}}
            </span>
        </ng-container>
    </div>
</mat-card>